{{> header}}
{{> nav}}

<!-- <script>
$(function () {
  $("#example").DataTable();
});
</script> -->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="row">
    <div class="col-md-12">
      <section class="content-header">
         
         
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title" id="add">Accessories Recepit Note</h3>
      <h3 class="box-title" id="edit" style="display: none">Update Accessories Recepit Note</h3>
          {{#if err}}
          <div class="alert alert-danger">
          <strong>{{err}}</strong>
          </div>
          {{/if}}
          {{#if errors}}
          <div class="alert alert-danger">
          <strong>{{errors}}</strong>
          </div>
          {{/if}}
      <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
          </div>
    </div>
       <form action="/accessories_recepit_note/add" class="form-horizontal" method="post" id="recepit_add">
          <h4 style="color: red;text-align: center;"></h4>
        <div class="box-body">
          <div class="form-group">
             <label class="col-md-3">Ref No</label>
            <div class="col-md-2"> 
              <input type="text" class="form-control" name="c_j_s_p" id="c_j_s_p" value="ARN" placeholder="Ref No"> 
            </div>
             <div class="col-md-2"> 
                <input type="number" class="form-control" name="ref_no" value="{{maxaccno recepitnote}}" id="ref_no" placeholder="Ref No">
            </div>
            <label class="col-md-2">Date</label>
            <div class="col-md-3"> 
                <input type="text" class="form-control" name="acc_date" id="filterstartdate" placeholder="Date" required="">
            </div>
          </div>
           <div class="form-group">
             <label class="col-md-3">Supplier</label>
            <div class="col-md-9"> 
              <select class="form-control" name="acc_suppliername" id="supplier_name">
                 <option value="">--Select Supplier--</option>
                 {{#each supplier}}
                  <option value="{{this._id}}" data-supplier="{{this._id}}">{{this.supplier_name}},{{this.supplier_city.city_name}}</option>
                  {{/each}}
              </select>
            </div>
          </div>
           <div class="form-group">
             <label class="col-md-3">Supplier Invoice</label>
            <div class="col-md-3"> 
                <input type="text" class="form-control" name="acc_invoice" id="acc_invoice" placeholder="Supplier Invoice" required="">
            </div>
            <label class="col-md-3">Date</label>
            <div class="col-md-3"> 
                <input type="text" class="form-control" name="acc_supdt" id="offerenddate" placeholder="Date" required="">
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-12">
              <table class="table" width="100%">
                <thead style="background-color:#3c8dbc;color: #fff;font-size: 15px;">
                  <tr>
                    <th>Type</th>
                    <th>Product</th>
                    <th>Qty</th>
                    <th>Location</th>
                    <th>Batch No</th>
                    <th>No Of Bundls/Pack</th>
                    {{!-- <th>Oblic Pack</th> --}}
                    <th>Remarks</th>
                    <th>Delete</th>
                  </tr>
                </thead>
               <tbody>
              <tr>
             <td>
              <select class="form-control stockpantone_deprt" name="acc_note_item[0][type]" onchange='get_product(0)' id="type0" style='width:100%;'>
                  <option value="">----Select Type----</option>
                   {{#each accessriestyp}}
                  <option value="{{this._id}}" data-accessriestyp="{{this._id}}">{{this.accessriestyp_name}}</option>
                  {{/each}}
                </select>
             </td>
            <td class="productname0"><input type='text' class="form-control" name='acc_note_item[0][product]'  id='product' style='width:100%;' placeholder="Product"></td>
             <input type="hidden" name="cntrer0" value="0" id="cntrer0" class="form-control" style="width: 102px;text-align: -webkit-right;">
            <td><input type='number' class="form-control" name='acc_note_item[0][qty]' id='qty0' oninput="calc(0)" style='width:100%;text-align: -webkit-right;' placeholder="Qty"></td>
            <td>
               <select class="form-control stockpantone_deprt" name="acc_note_item[0][location]" id="location" style='width:100%;'>
                  <option value="">----Select Location----</option>
                   {{#each rackloc}}
                  <option value="{{this._id}}" data-rackloc="{{this._id}}">{{this.rackloc_name}}</option>
                  {{/each}}
                </select>
            </td>
             <td><input type='text' class="form-control" name="acc_note_item[0][batchno]" id="batchno"  style="width:100%" placeholder="Batch No"></td>
              <td><input type='text' class="form-control" name="acc_note_item[0][nofbunduls]" id="nofbunduls"  style="width:100%" placeholder="No Of Bundls/Pack"></td>
              <td><input type='text' class="form-control" name="acc_note_item[0][remarks]" id="remarks"  style="width:100%" placeholder="Remarks"></td>
        </tr>
         <tr  id="insert_stockitem">
               </tr>
      </tbody>
      <tr>
      </tr>
    </table>
    </div> 
      <label class="col-md-2"></label>
            <label class="col-md-4"><b style="margin-left:  12px;">Total</b></label>
            <div class="col-md-3"> 
                <input type="number" class="form-control" name="acc_totalqty" placeholder="Total QTY" id="total_qty" style="    margin-left: -278px;width: 142px;text-align: -webkit-right;" readonly>
            </div>
    </div>
    <center><a class="addreciptnote" style="font-size: 30px;cursor:pointer;"><i class="fa fa-plus" aria-hidden="true"></i></a></center>

        </div>
        <!-- /.box-body -->
        <div class="box-footer">
           <input type="submit" class="btn btn-info" value="submit" id="submit">
           <input type="reset" class="btn btn-default pull-right" value="Clear Form">  
        </div>
        </form>
  </div>
      </section>
    </div>
  </div>
</div>
 {{> footer}}
<style>
 .button-clear {

          background-color: Transparent;
            background-repeat:no-repeat;
            border: none;
            cursor:pointer;
            overflow: hidden;

        }
       </style>
       