{{> header}}
{{> nav}}

<!-- <script>
$(function () {
  $("#example").DataTable();
});
</script> -->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="row">
    <div class="col-md-5">
      <section class="content-header">
         
         
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title" id="add">City Master</h3>
      <h3 class="box-title" id="edit" style="display: none">Update City Master</h3>
          {{#if err}}
          <div class="alert alert-danger">
          <strong>{{err}}</strong>
          </div>
          {{/if}}
          {{#if errors}}
          <div class="alert alert-danger">
          <strong>{{errors}}</strong>
          </div>
          {{/if}}
      <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
          </div>
    </div>
       <form action="/city_mast/add" class="form-horizontal"  method="post" id="city_add">
          <h4 style="color: red;text-align: center;"></h4>
        <div class="box-body">
            <div class="form-group">
            <label class="col-md-4">Country Name</label>
            <div class="col-md-8"> 
               <select class="form-control countryid" name="countryid" id="countryid" required="">
                 <option>----Select Country----</option>
                {{#each country}}
                <option value="{{this._id}}" data-country="{{this._id}}">{{this.country_name}}</option>
                {{/each}}
              </select>
            </div>
          </div>
           <div class="form-group">
            <label class="col-md-4">State Name</label>
            <div class="col-md-8 state_name_div"> 
               <select class="form-control stateid" name="stateid" id="stateid" required="">
                 <option>----Select State----</option>
                {{#each state}}
                <option value="{{this._id}}" data-state="{{this._id}}">{{this.state_name}}</option>
                {{/each}}
              </select>
            </div>
          </div>
           <div class="form-group">
            <label class="col-md-4">City Name</label>
            <div class="col-md-8"> 
                <input type="text" class="form-control city_name" name="city_name" id="City Name" placeholder="State Name" required="">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">Code</label>
            <div class="col-md-8"> 
                <input type="text" class="form-control" name="city_code" id="city_code" placeholder="Code" required="">
            </div>
          </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
           <input type="reset" class="btn btn-default" value="Clear Form">
              <input type="submit" class="btn btn-info pull-right" value="submit" id="submit">
              <input type="submit" class="btn btn-success pull-right"  value="update" id="update" style="display:none;">
        </div>
        </form>
         <form action="" class="form-horizontal"  method="post" id="edit_city" style="display:none">
          <h4 style="color: red;text-align: center;"></h4>
        <div class="box-body">
          <div class="form-group">
            <label class="col-md-4">Country Name</label>
            <div class="col-md-8"> 
               <select class="form-control countryid" name="countryid" id="countryid" required="">
                 <option>----Select Country----</option>
                {{#each country}}
                <option value="{{this._id}}" data-country="{{this._id}}">{{this.country_name}}</option>
                {{/each}}
              </select>
            </div>
          </div>
           <div class="form-group">
            <label class="col-md-4">State Name</label>
            <div class="col-md-8"> 
                <select class="form-control stateid" name="stateid" id="stateid" required="">
                {{#each state}}
                <option value="{{this._id}}" data-state="{{this._id}}">{{this.state_name}}</option>
                {{/each}}
              </select>
            </div>
          </div>
           <div class="form-group">
            <label class="col-md-4">City Name</label>
            <div class="col-md-8"> 
                <input type="text" class="form-control city_name" name="city_name" id="City Name" placeholder="City Name" required="">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">Code</label>
            <div class="col-md-8"> 
                <input type="text" class="form-control city_code" name="city_code" id="city_code" placeholder="Code" required="">
            </div>
          </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
           <input type="reset" class="btn btn-default" value="Clear Form">
              <input type="submit" class="btn btn-success pull-right"  value="update" id="update">
        </div>
        </form>
  </div>
      </section>
    </div>
    <div class="col-md-7">
      <section class="content-header">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">View City Master </h3>
                  <p style="text-align: center;color:#ff0000;margin-top: -20px;"></p>
          </div>
            <div class="box-body">
              <div class="table-responsive">
                <table id="example" class="table table-bordered table-striped">
                  <thead>
                      <tr>
                        <th>#</th>
                        <th>Country Name</th>
                        <th>State Name</th>
                        <th>City Name</th>
                        <th>Code</th>
                        <th width="10%">Update</th>
                        <th width="10%">Delete</th>
                      </tr>
                  </thead>
                 <tbody>
                   {{#each city as |value key|}}
                      <tr>
                          <td>{{sum @index 1}}</td>
                          <td>{{this.countryid.country_name}}</td>
                          <td>{{this.stateid.state_name}}</td>
                          <td>{{this.city_name}}</td>
                          <td>{{this.city_code}}</td>
                          <td><a href="javascript:void(0);"  class="edit_city" data-id="{{this._id}}"><i class="fa fa-pencil"></i></i></a></td>
                           <td><a href="/city_mast/delete_city/{{value._id}}" onclick="return confirm('Are you sure want to delete.');"><i class="fa fa-trash-o" style="color:red;"></i></a></td>
                      </tr>
                     {{/each}}  
                   </tbody>
                </table>
      </div>
    </div>
  </div>
      </section>
    </div>
    
  </div>
</div>
 {{> footer}}
<style>
 .button-clear {

          background-color: Transparent;
            background-repeat:no-repeat;
            border: none;
            cursor:pointer;
            overflow: hidden;

        }
       </style>
       