
{{pageTitle}}
   <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="js/bootstrap.min.css">
    <!-- Font Awesome -->
    {{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"> --}}
    <!-- Ionicons -->
    {{!-- <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"> --}}
    <!-- Theme style -->
    <link rel="stylesheet" href="js/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="js/_all-skins.min.css">
    <!-- iCheck -->
    {{!-- <link rel="stylesheet" href="js/blue.css"> --}}
    <!-- Morris chart -->
    <link rel="stylesheet" href="js/morris.css">
    <!-- jvectormap -->
    <link rel="stylesheet" href="js/jquery-jvectormap-1.2.2.css">
    <!-- Date Picker -->
    <link rel="stylesheet" href="js/datepicker3.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="js/daterangepicker-bs3.css">
    <!-- bootstrap wysihtml5 - text editor -->
    <link rel="stylesheet" href="js/bootstrap3-wysihtml5.min.css">
 <style type="text/css">
    .form-box{
      max-width: 500px;
      position: relative;
      margin: 5% auto;
    }
  </style>
           <div class="col-md-12">
      <section class="content-header">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Company Master </h3>
                  <p style="text-align: center;color:#ff0000;margin-top: -20px;"></p>
          </div>
            <div class="box-body">
              <div class="table-responsive">
                <table id="example" class="table table-bordered table-striped">
                  <thead>
                      <tr>
                        <th>Sno.</th>
                        <th>Company</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Click</th>
                      </tr>
                  </thead>
                 <tbody>
                  {{#each div_com as |value key|}}
                  <tr>
                        <td>{{sum @index 1}}</td>
                        <td>{{this.com_name}}</td>
                        <td>{{this.sdate}}</td>
                        <td>{{this.edate}}</td>
                        <td><a href="/userright/company?compid={{this._id}}">Click Here</a></td>
                    </tr>
                    {{/each}}  
                   </tbody>
                </table>
      </div>
    </div>
  </div>
      </section>
    </div>