{{> header}}
{{> nav}}

<!-- <script>
$(function () {
  $("#example").DataTable();
});
</script> -->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="row">
    <div class="col-md-6">
      <section class="content-header">
         
         
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title" id="add">Department Master</h3>
      <h3 class="box-title" id="edit" style="display: none">Update Department Master</h3>
          {{#if err}}
          <div class="alert alert-danger">
          <strong>{{err}}</strong>
          </div>
          {{/if}}
          {{#if errors}}
          <div class="alert alert-danger">
          <strong>{{errors}}</strong>
          </div>
          {{/if}}
      <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
          </div>
    </div>
       <form action="/departmnt_mast/add" class="form-horizontal"  method="post" id="departmnt_add">
          <h4 style="color: red;text-align: center;"></h4>
        <div class="box-body">
          <div class="form-group">
            <label class="col-md-4">Department Name</label>
            <div class="col-md-8"> 
                <input type="text" class="form-control" name="departmnt_name" id="departmnt_name" placeholder="Department Name" required="">
            </div>
          </div>
           <div class="form-group">
               <label class="col-md-4">Machine Name</label>
                <div class="col-md-7"> 
                  <select class="form-control"name="machine_group[0][departmnt_mechnenm]" id="departmnt_mechnenm">
                 <option value="">----Select Machine----</option>
                {{#each machine}}
                <option value="{{this._id}}" data-machine="{{this._id}}">{{this.machine_name}}</option>
                {{/each}}
              </select>
               </div>
           </div>
           <div id="insert_div">
              <a id="add" class="addMachine" style="cursor: pointer;"><i class="fa fa-plus" style="font-size: 30px;color: #36c536;margin-left: 262px;"></i></a>                  
            </div>
          <div class="form-group">
            <label class="col-md-4">Job Order</label>
            <div class="col-md-8"> 
                <input type="text" class="form-control" name="departmnt_jbordr" id="departmnt_jbordr" placeholder="Job Order" required="">
            </div>
          </div>
           <div class="form-group">
            <label class="col-md-4">Default</label>
            <div class="col-md-8"> 
              <select class="form-control departmnt_dflt" name="departmnt_dflt" id="departmnt_dflt">
                 <option value="">----Select Default----</option>
                 <option value="Y">Y</option>
                 <option value="N">N</option>
              </select>
            </div>
          </div>
           <div class="form-group">
            <label class="col-md-4">Inventory Requirement</label>
            <div class="col-md-8"> 
                <select class="form-control departmnt_invreqrmnt" name="departmnt_invreqrmnt" id="departmnt_invreqrmnt">
                 <option value="">----Select Inventory Requirement----</option>
                 <option value="Y">Y</option>
                 <option value="N">N</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-3"> 
               <b>Department</b>
               <select class="form-control " name="dprtmnt_group[0][departmnt_nameone]" id="departmnt_name0">
                {{#each departmnt}}
                <option value="{{this._id}}" data-state="{{this._id}}">{{this.departmnt_name}}</option>
                {{/each}}
              </select>
            </div>
            <div class="col-md-2"> 
               <b>Order</b> <input type="text" class="form-control" name="dprtmnt_group[0][departmnt_ordr]" id="departmnt_ordr" placeholder="Order" style="width: 72px;">
            </div>
            <div class="col-md-3"> 
               <b>Dependancy </b> 
               <select class="form-control departmnt_depency" name="dprtmnt_group[0][departmnt_depency]" id="departmnt_depency">
                 <option value="Y">Y</option>
                 <option value="N">N</option>
              </select>
            </div>
            <div class="col-md-3"> 
              <b>Department</b>
              <select class="form-control departmnt_nametwo" name="dprtmnt_group[0][departmnt_nametwo]" id="departmnt_nametwo" required="">
                {{#each departmnt}}
                <option value="{{this._id}}" data-state="{{this._id}}">{{this.departmnt_name}}</option>
                {{/each}}
              </select>
            </div>
          </div>
          <div id="machine_div">
              <a id="add" class="addDepartmnt" style="cursor: pointer;"><i class="fa fa-plus" style="font-size: 30px;color: #36c536;margin-left: 262px;"></i></a>                  
            </div>
             <div class="form-group">
               <label class="col-md-4">SOPs [Training Needs]</label>
                <div class="col-md-7"> 
                  <select class="form-control"name="sop_group[0][sop]" id="sop">
                 <option value="">----Select SOPs----</option>
                {{#each sop}}
                <option value="{{this._id}}" data-sop="{{this._id}}">{{this.sop_desp}}</option>
                {{/each}}
              </select>
               </div>
           </div>
           <div id="insert_sop">
              <a id="add" class="addsop" style="cursor: pointer;"><i class="fa fa-plus" style="font-size: 30px;color: #36c536;margin-left: 262px;"></i></a>                  
            </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
           <input type="reset" class="btn btn-default" value="Clear Form">
              <input type="submit" class="btn btn-info pull-right" value="submit" id="submit">
              <input type="submit" class="btn btn-success pull-right"  value="update" id="update" style="display:none;">
        </div>
        </form>
         <form action="" class="form-horizontal"  method="post" id="edit_departmnt" style="display:none">
          <h4 style="color: red;text-align: center;"></h4>
       <div class="box-body">
          <div class="form-group">
            <label class="col-md-4">Department Name</label>
            <div class="col-md-8"> 
                <input type="text" class="form-control departmnt_name" name="departmnt_name" id="departmnt_name" placeholder="Department Name">
            </div>
          </div>
             <div class="form-group machine_variaton">
           </div>
          <div id="insert_divup">
              <a id="add" class="addMachineupdate" style="cursor: pointer;"><i class="fa fa-plus" style="font-size: 30px;color: #36c536;margin-left: 262px;"></i></a>                  
            </div>
          <div class="form-group">
            <label class="col-md-4">Job Order</label>
            <div class="col-md-8"> 
                <input type="text" class="form-control departmnt_jbordr" name="departmnt_jbordr" id="departmnt_jbordr" placeholder="Job Order" required="">
            </div>
          </div>
           <div class="form-group">
            <label class="col-md-4">Default</label>
            <div class="col-md-8"> 
              <select class="form-control departmnt_dflt" name="departmnt_dflt" id="departmnt_dflt">
                 <option value="">----Select Default----</option>
                 <option value="Y">Y</option>
                 <option value="N">N</option>
              </select>
            </div>
          </div>
           <div class="form-group">
            <label class="col-md-4">Inventory Requirement</label>
            <div class="col-md-8"> 
                <select class="form-control departmnt_invreqrmnt" name="departmnt_invreqrmnt" id="departmnt_invreqrmnt">
                 <option value="">----Select Inventory Requirement----</option>
                 <option value="Y">Y</option>
                 <option value="N">N</option>
              </select>
            </div>
          </div>
           <div class="form-group departmnt_wrapper">
           </div>
          <div id="adddprt_divup">
              <a id="add" class="adddupdatedprt" style="cursor: pointer;"><i class="fa fa-plus" style="font-size: 30px;color: #36c536;margin-left: 262px;"></i></a>                  
            </div>
            <div class="form-group sop_wrapper">
           </div>
          <div id="adddsop_divup">
              <a id="add" class="adddupdatesop" style="cursor: pointer;"><i class="fa fa-plus" style="font-size: 30px;color: #36c536;margin-left: 262px;"></i></a>                  
            </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
           <input type="reset" class="btn btn-default" value="Clear Form">
              <input type="submit" class="btn btn-success pull-right"  value="update" id="update">
        </div>
        </form>
  </div>
      </section>
    </div>
    <div class="col-md-6">
      <section class="content-header">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">View Department Master </h3>
                  <p style="text-align: center;color:#ff0000;margin-top: -20px;"></p>
          </div>
            <div class="box-body">
              <div class="table-responsive">
                <table id="example" class="table table-bordered table-striped">
                  <thead>
                      <tr>
                        <th>#</th>
                        <th>Department Name</th>
                        <th>Job Order</th>
                        <th>Default</th>
                        <th>Inventory Requirement</th>
                        <th width="10%">Update</th>
                        <th width="10%">Delete</th>
                      </tr>
                  </thead>
                 <tbody>
                   {{#each departmnt as |value key|}}
                      <tr>
                          <td>{{sum @index 1}}</td>
                          <td>{{this.departmnt_name}}</td>
                          <td>{{this.departmnt_jbordr}}</td>
                          <td>{{this.departmnt_dflt}}</td>
                          <td>{{this.departmnt_invreqrmnt}}</td>
                          <td><a href="javascript:void(0);"  class="edit_departmnt" data-id="{{this._id}}"><i class="fa fa-pencil"></i></i></a></td>
                          <td><a href="/departmnt_mast/delete_departmnt/{{value._id}}" onclick="return confirm('Are you sure want to delete.');"><i class="fa fa-trash-o" style="color:red;"></i></a></td>
                      </tr>
                     {{/each}}  
                   </tbody>
                </table>
      </div>
    </div>
  </div>
      </section>
    </div>

  </div>
</div>
 {{> footer}}
<style>
 .button-clear {

          background-color: Transparent;
            background-repeat:no-repeat;
            border: none;
            cursor:pointer;
            overflow: hidden;

        }
       </style>
       