
   <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="js/bootstrap.min.css">
    <link rel="stylesheet" href="js/AdminLTE.min.css">
    <link rel="stylesheet" href="js/_all-skins.min.css">
    <link rel="stylesheet" href="js/morris.css">
    <link rel="stylesheet" href="js/jquery-jvectormap-1.2.2.css">
    <link rel="stylesheet" href="js/datepicker3.css">
    <link rel="stylesheet" href="js/daterangepicker-bs3.css">
    <link rel="stylesheet" href="js/bootstrap3-wysihtml5.min.css">
 <style type="text/css">
    .form-box{
      max-width: 500px;
      position: relative;
      margin: 5% auto;
    }
  </style>
           <div class="col-md-12">
      <section class="content-header">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Divison Master </h3>
                  <p style="text-align: center;color:#ff0000;margin-top: -20px;"></p>
          </div>
            <div class="box-body">
              <div class="table-responsive">
                <table id="example" class="table table-bordered table-striped">
                 <thead>
                        <tr>
                        <th>Sno.</th>
                        <th>Divison Name</th>
                        <th>Divison Code</th>
                        <th>Click</th>
                        </tr>  
                </thead>
                 <tbody>
                    {{#each div_mast as |value key|}}
                        <tr>
                            <td>{{sum @index 1}}</td>
                            <td>{{this.div_mast}}</td>
                            <td>{{this.div_code}}</td>
                            <td><a href="/userright/division?divid={{this._id}}&amp;divname={{this.div_mast}}">Click Here</a></td>
                        </tr>
                    {{/each}}
                   </tbody>
                </table>
      </div>
    </div>
  </div>
      </section>
    </div>