{{> header}}
{{> nav}}

<!-- <script>
$(function () {
  $("#example").DataTable();
});
</script> -->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="row">
    <div class="col-md-12">
      <section class="content-header">
         
         
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title" id="add">Job Activity Master</h3>
      <h3 class="box-title" id="edit" style="display: none">Update Job Activity Master</h3>
          {{#if err}}
          <div class="alert alert-danger">
          <strong>{{err}}</strong>
          </div>
          {{/if}}
          {{#if errors}}
          <div class="alert alert-danger">
          <strong>{{errors}}</strong>
          </div>
          {{/if}}
      <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
          </div>
    </div>
       <form action="/jobactivty_mast/add" class="form-horizontal"  method="post" id="jobactivty_add">
          <h4 style="color: red;text-align: center;"></h4>
        <div class="box-body">
          <div class="form-group">
            <label class="col-md-2">Deparmpent</label>
            <div class="col-md-4"> 
              <select class="form-control jobactivty_deprt" name="jobactivty_deprt" id="jobactivty_deprt" required>
                 <option value="">----Select Department----</option>
                {{#each departmnt}}
                <option value="{{this._id}}" data-departmnt="{{this._id}}">{{this.departmnt_name}}</option>
                {{/each}}
              </select>
            </div>
             <label class="col-md-2">Activity Name</label>
            <div class="col-md-4"> 
                <input type="text" class="form-control" name="jobactivty_actvnm" id="jobactivty_actvnm" placeholder="Activity Name" required>
            </div>
          </div>
           <div class="form-group">
        <div class="col-md-12">
      <table class="table" width="100%">
      <thead style="background-color:#3c8dbc;color: #fff;font-size: 15px;">
        <tr>
          <th>Description</th>
          <th>Type</th>
          <th>Time Req</th>
           <th>Default Value</th>
          <th>Order</th>
          <th>Delete</th>
        </tr>
      </thead>
       
      <tbody>
        <tr>
          <td><input type='text' class="form-control" name='jobactivty_group[0][dscpton]' id="dscpton"  style='width:100%;' required></td>
          <td>
             <select class="form-control jobactivty_typ" name="jobactivty_group[0][typ]" id="typ" required>
                 <option value="">----Select Type----</option>
                 <option value="Date">Date</option>
                 <option value="Shift">Shift</option>
                <option value='Number'>Number</option>
                <option value='jobcardno'>Job card No</option>
                 <option value="Time">Time</option>
                 <option value="Loging">Loging</option>
                 <option value="Text">Text</option>
                 <option value="Combo">Combo</option>
                 <option value="Observation">Observation</option>
                 <option value="Y/n">Y/n</option>
                 </select>
          </td>
          <td>
            <select class="form-control" name="jobactivty_group[0][timrq]" id="timrq" required>
                 <option value="">----Select timrq----</option>
                 <option value="1">1</option>
                 <option value="2">2</option>
                 <option value="3">3</option>
                 <option value="4">4</option>
                 <option value="5">5</option>
                 </select>
            </td>
          <td><input type='text' class="form-control" name='jobactivty_group[0][dfltval]' id='dfltval' style='width:100%;'></td>
          <td><input type='text' class="form-control" name='jobactivty_group[0][ordr]' id='ordr' style='width:100%;'></td>
        </tr>
         <tr  id="insert_job">
               </tr>
      </tbody>
    </table>
    </div>
     
    </div>
    <center><a class="addjobactive" style="font-size: 30px;cursor:pointer;"><i class="fa fa-plus" aria-hidden="true"></i></a></center>

           <div class="form-group">
            <label class="col-md-1">Active </label>
            <div class="col-md-1"> 
                <input type="checkbox"  name="jobactivty_active" value="Y">
            </div>
          </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
           <input type="reset" class="btn btn-default" value="Clear Form">
              <input type="submit" class="btn btn-info pull-right" value="submit" id="submit">
              <input type="submit" class="btn btn-success pull-right"  value="update" id="update" style="display:none;">
        </div>
        </form>
         <form action="" class="form-horizontal"  method="post" id="edit_jobactivty" style="display:none">
          <h4 style="color: red;text-align: center;"></h4>
         <div class="box-body">
          <div class="form-group">
            <label class="col-md-2">Deparmpent</label>
            <div class="col-md-4"> 
              <select class="form-control jobactivty_deprt" name="jobactivty_deprt" id="jobactivty_deprt">
                 <option value="">----Select Department----</option>
                {{#each departmnt}}
                <option value="{{this._id}}" data-departmnt="{{this._id}}">{{this.departmnt_name}}</option>
                {{/each}}
              </select>
            </div>
             <label class="col-md-2">Activity Name</label>
            <div class="col-md-4"> 
                <input type="text" class="form-control jobactivty_actvnm" name="jobactivty_actvnm" id="jobactivty_actvnm" placeholder="Activity Name">
            </div>
          </div>
           <div class="form-group">
        <div class="col-md-12">
        <table class="table" width="100%">
        <thead style="background-color:#3c8dbc;color: #fff;font-size: 15px;">
        <tr>
          <th>Description</th>
          <th>Type</th>
          <th>Time Req</th>
           <th>Default Value</th>
          <th>Order</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody class="stock_result" style="border: none;">
       
     </tbody>
    <tbody style="border: none;">
       <tr  id="insert_jobupdate">
               </tr>
    </tbody>
    </table>
    </div>
    </div>
    <center><a class="addjobactiveupdate" style="font-size: 30px;cursor:pointer;"><i class="fa fa-plus" aria-hidden="true"></i></a></center>

           <div class="form-group">
            <label class="col-md-1">Active </label>
            <div class="col-md-1"> 
                <input type="checkbox" class="jobactivty_active"  name="jobactivty_active" value="Y">
            </div>
          </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
           <input type="reset" class="btn btn-default" value="Clear Form">
              <input type="submit" class="btn btn-success pull-right"  value="update" id="update">
        </div>
        </form>
  </div>
      </section>
    </div>
    <div class="col-md-12">
      <section class="content-header">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">View Job Activity Master </h3>
                  <p style="text-align: center;color:#ff0000;margin-top: -20px;"></p>
          </div>
            <div class="box-body">
              <div class="table-responsive">
                <table id="example" class="table table-bordered table-striped">
                  <thead>
                      <tr>
                        <th>#</th>
                        <th>Deparmpent</th>
                        <th>Activity Name</th>
                        <th>Active</th>
                        <th width="10%">Update</th>
                        <th width="10%">Delete</th>
                      </tr>
                  </thead>
                 <tbody>
                   {{#each jobactivty as |value key|}}
                      <tr>
                          <td>{{sum @index 1}}</td>
                          <td>{{this.jobactivty_deprt.departmnt_name}}</td>
                          <td>{{this.jobactivty_actvnm}}</td>
                          <td>{{this.jobactivty_active}}</td>
                          <td><a href="javascript:void(0);"  class="edit_jobactivty" data-id="{{this._id}}"><i class="fa fa-pencil"></i></i></a></td>
                           <td><a href="/jobactivty_mast/delete_jobactivty/{{value._id}}" onclick="return confirm('Are you sure want to delete.');"><i class="fa fa-trash-o" style="color:red;"></i></a></td>
                      </tr>
                     {{/each}}  
                   </tbody>
                </table>
      </div>
    </div>
  </div>
      </section>
    </div>
    
  </div>
</div>
 {{> footer}}
<style>
 .button-clear {

          background-color: Transparent;
            background-repeat:no-repeat;
            border: none;
            cursor:pointer;
            overflow: hidden;

        }
       </style>
       