{{> header}}
{{> nav}}

<!-- <script>
$(function () {
  $("#example").DataTable();
});
</script> -->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="row">
    <div class="col-md-12">
      <section class="content-header">
         
         
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title" id="add">Update Job Process Entry </h3>
          {{#if err}}
          <div class="alert alert-danger">
          <strong>{{err}}</strong>
          </div>
          {{/if}}
          {{#if errors}}
          <div class="alert alert-danger">
          <strong>{{errors}}</strong>
          </div>
          {{/if}}
      <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
          </div>
    </div>
       <form action="/jobprocessentry/update/{{jobprocess.id}}" class="form-horizontal"  method="post">
          <h4 style="color: red;text-align: center;"></h4>
        <div class="box-body">
           <div class="form-group">
            <label class="col-md-1">Entry No</label>
            <div class="col-md-2"> 
              <input type="number" class="form-control" name="jobprcss_entryno" id="jobprcss_entryno" value="{{jobprocess.jobprcss_entryno}}">
            </div>
            <label class="col-md-1">Date</label>
            <div class="col-md-2"> 
               <input type="text" class="form-control" name="jobprcss_date" id="filterstartdate" value="{{jobprocess.jobprcss_date}}" placeholder="Date">
            </div>
             <label class="col-md-1">Department</label>
            <div class="col-md-2"> 
              {{#listrtcomp departmnt jobprocess.jobprcss_deprt  'jobprcss_deprt' 'jobprcssdeprt'}}
                            {{this.departmnt_name}}
                  {{/listrtcomp}}
            </div>
             <label class="col-md-1">Activity</label>
            <div class="col-md-2 activity_name_div"> 
               {{#listjob jobactivty jobprocess.jobprcss_activity  'jobprcss_activity' 'jobprcss_activity'}}
                            {{this.jobactivty_actvnm}}
                  {{/listjob}}
              </div>
          </div>
           <div class="form-group">
             <label class="col-md-1">Job Card No</label>
            <div class="col-md-2">
              <input type="text" class="form-control" value="{{jobprocess.newjb_jbcrd}}"  name="newjb_jbcrd" id="newjb_jbcrd">
            </div>
             <label class="col-md-1">Product Name</label>
            <div class="col-md-2 product_name">
              <input type="text" class="form-control" value="{{jobprocess.jobprcss_productname}}" name="jobprcss_productname" id="jobprcss_productname">
            </div>
             <label class="col-md-1">Item code</label>
            <div class="col-md-2 item_code">
              <input type="text" class="form-control" value="{{jobprocess.jobprcss_itemcode}}" name="jobprcss_itemcode" id="jobprcss_itemcode">
            </div>
          </div>
            <div class='col-md-12'>
                <table class='table' width='100%'>
                 <thead style='background-color:#00a65a;color: #fff;font-size: 15px;'>
                <tr>
                <th>Heading</th>
                <th>Description1</th>
                <th>Description2</th>
                <th>Description3</th>
                <th>Description4</th>
                <th>Description5</th>
                <th></th>
                </tr>
                </thead>
                <tbody>
                   {{#each jobprocess.entry2id.jobprocess_group as |value key|}}
                <tr>
                  <td style='word-wrap: break-word'>{{this.head}}<input type='hidden' class='form-control' placeholder='Text' name='jobprocess_group[{{@index}}][head]' value="{{this.head}}" id='text'></td>
                    {{#equal this.typ0 "Y/n"}}
                    <td>
                      <input type='hidden' name='jobprocess_group[{{@index}}][typ0]' value='Y/n'>
                        <select class='form-control' name='jobprocess_group[{{@index}}][dsprtion0]' id='dsprtion'>
                        <option value='Y' {{#equal this.dsprtion0 "Y"}}selected=""{{/equal}}>Y</option>
                        <option value='N' {{#equal this.dsprtion0 "N"}}selected=""{{/equal}}>N</option>
                        </select>
                    </td>
                    {{/equal}}
                     {{#equal this.typ1 "Y/n"}}
                    <td>
                      <input type='hidden' name='jobprocess_group[{{@index}}][typ1]' value='Y/n'>
                         <select class='form-control' name='jobprocess_group[{{@index}}][dsprtion1]' id='dsprtion'>
                        <option value='Y' {{#equal this.dsprtion1 "Y"}}selected=""{{/equal}}>Y</option>
                        <option value='N' {{#equal this.dsprtion1 "N"}}selected=""{{/equal}}>N</option>
                        </select>
                    </td>
                    {{/equal}}
                     {{#equal this.typ2 "Y/n"}}
                    <td>
                      <input type='hidden' name='jobprocess_group[{{@index}}][typ2]' value='Y/n'>
                        <select class='form-control' name='jobprocess_group[{{@index}}][dsprtion2]' id='dsprtion'>
                        <option value='Y' {{#equal this.dsprtion2 "Y"}}selected=""{{/equal}}>Y</option>
                        <option value='N' {{#equal this.dsprtion2 "N"}}selected=""{{/equal}}>N</option>
                        </select>
                    </td>
                    {{/equal}}
                     {{#equal this.typ3 "Y/n"}}
                    <td>
                       <input type='hidden' name='jobprocess_group[{{@index}}][typ3]' value='Y/n'>
                        <select class='form-control' name='jobprocess_group[{{@index}}][dsprtion3]' id='dsprtion'>
                         <option value='Y' {{#equal this.dsprtion3 "Y"}}selected=""{{/equal}}>Y</option>
                        <option value='N' {{#equal this.dsprtion3 "N"}}selected=""{{/equal}}>N</option>
                        </select>
                    </td>
                    {{/equal}}
                     {{#equal this.typ4 "Y/n"}}
                    <td>
                      <input type='hidden' name='jobprocess_group[{{@index}}][typ4]' value='Y/n'>
                        <select class='form-control' name='jobprocess_group[{{@index}}][dsprtion4]' id='dsprtion'>
                       <option value='Y' {{#equal this.dsprtion4 "Y"}}selected=""{{/equal}}>Y</option>
                        <option value='N' {{#equal this.dsprtion4 "N"}}selected=""{{/equal}}>N</option>
                        </select>
                    </td>
                    {{/equal}}
                     {{#equal this.typ0 "Number"}}
                     <td>
                        <input type='hidden' name='jobprocess_group[{{@index}}][typ0]' value='Number'>
                        <input type='text' class='form-control' placeholder='Number' value="{{this.number0}}" name='jobprocess_group[{{@index}}][number0]' id='text'  style='width:100%;'>
                       </td>
                    {{/equal}}
                    {{#equal this.typ1 "Number"}}
                     <td>
                        <input type='hidden' name='jobprocess_group[{{@index}}][typ1]' value='Number'>
                        <input type='text' class='form-control' placeholder='Number' value="{{this.number1}}" name='jobprocess_group[{{@index}}][number1]' id='text'  style='width:100%;'>
                       </td>
                    {{/equal}}
                     {{#equal this.typ2 "Number"}}
                     <td>
                        <input type='hidden' name='jobprocess_group[{{@index}}][typ2]' value='Number'>
                        <input type='text' class='form-control' placeholder='Number' value="{{this.number2}}" name='jobprocess_group[{{@index}}][number2]' id='text'  style='width:100%;'>
                       </td>
                    {{/equal}}
                    {{#equal this.typ3 "Number"}}
                     <td>
                        <input type='hidden' name='jobprocess_group[{{@index}}][typ3]' value='Number'>
                        <input type='text' class='form-control' placeholder='Number' value="{{this.number3}}" name='jobprocess_group[{{@index}}][number3]' id='text'  style='width:100%;'>
                       </td>
                    {{/equal}}
                    {{#equal this.typ4 "Number"}}
                     <td>
                        <input type='hidden' name='jobprocess_group[{{@index}}][typ4]' value='Number'>
                        <input type='text' class='form-control' placeholder='Number' value="{{this.number4}}" name='jobprocess_group[{{@index}}][number4]' id='text'  style='width:100%;'>
                       </td>
                    {{/equal}}
                    {{#equal this.typ0 "jobcardno"}}
                     <td>
                        <input type='hidden' name='jobprocess_group[{{@index}}][typ0]' value='jobcardno'>
                        <input type='text' class='form-control' placeholder='jobcardno' value="{{this.jobcardno0}}" name='jobprocess_group[{{@index}}][jobcardno0]' id='text'  style='width:100%;'>
                       </td>
                    {{/equal}}
                    {{#equal this.typ1 "jobcardno"}}
                     <td>
                        <input type='hidden' name='jobprocess_group[{{@index}}][typ1]' value='jobcardno'>
                        <input type='text' class='form-control' placeholder='jobcardno' value="{{this.jobcardno1}}" name='jobprocess_group[{{@index}}][jobcardno1]' id='text'  style='width:100%;'>
                       </td>
                    {{/equal}}
                    {{#equal this.typ2 "jobcardno"}}
                     <td>
                        <input type='hidden' name='jobprocess_group[{{@index}}][typ2]' value='jobcardno'>
                        <input type='text' class='form-control' placeholder='jobcardno' value="{{this.jobcardno2}}" name='jobprocess_group[{{@index}}][jobcardno2]' id='text'  style='width:100%;'>
                       </td>
                    {{/equal}}
                     {{#equal this.typ3 "jobcardno"}}
                     <td>
                        <input type='hidden' name='jobprocess_group[{{@index}}][typ3]' value='jobcardno'>
                        <input type='text' class='form-control' placeholder='jobcardno' value="{{this.jobcardno3}}" name='jobprocess_group[{{@index}}][jobcardno3]' id='text'  style='width:100%;'>
                       </td>
                    {{/equal}}
                    {{#equal this.typ4 "jobcardno"}}
                     <td>
                        <input type='hidden' name='jobprocess_group[{{@index}}][typ4]' value='jobcardno'>
                        <input type='text' class='form-control' placeholder='jobcardno' value="{{this.jobcardno4}}" name='jobprocess_group[{{@index}}][jobcardno4]' id='text'  style='width:100%;'>
                       </td>
                    {{/equal}}
                     {{#equal this.typ0 "Text"}}
                     <td>
                        <input type='hidden' name='jobprocess_group[{{@index}}][typ0]' value='Text'>
                        <input type='text' class='form-control' placeholder='Text' value="{{this.text0}}" name='jobprocess_group[{{@index}}][text0]' id='text'  style='width:100%;'>
                       </td>
                    {{/equal}}
                     {{#equal this.typ1 "Text"}}
                     <td>
                       <input type='hidden' name='jobprocess_group[{{@index}}][typ1]' value='Text'>
                       <input type='text' class='form-control' placeholder='Text' value="{{this.text1}}" name='jobprocess_group[{{@index}}][text1]' id='text'  style='width:100%;'>
                     </td>
                    {{/equal}}
                     {{#equal this.typ2 "Text"}}
                     <td>
                       <input type='hidden' name='jobprocess_group[{{@index}}][typ2]' value='Text'>
                       <input type='text' class='form-control' placeholder='Text' value="{{this.text2}}" name='jobprocess_group[{{@index}}][text2]' id='text'  style='width:100%;'>
                    </td>
                    {{/equal}}
                     {{#equal this.typ3 "Text"}}
                     <td>
                        <input type='hidden' name='jobprocess_group[{{@index}}][typ3]' value='Text'>
                       <input type='text' class='form-control' placeholder='Text' value="{{this.text3}}" name='jobprocess_group[{{@index}}][text3]' id='text'  style='width:100%;'>
                      </td>
                    {{/equal}}
                     {{#equal this.typ4 "Text"}}
                     <td>
                        <input type='hidden' name='jobprocess_group[{{@index}}][typ4]' value='Text'>
                       <input type='text' class='form-control' placeholder='Text' value="{{this.text4}}" name='jobprocess_group[{{@index}}][text4]' id='text'  style='width:100%;'>
                    </td>
                    {{/equal}}
                     {{#equal this.typ0 "Date"}}
                     <td>
                       <input type='hidden' name='jobprocess_group[{{@index}}][typ0]' value='Date'>
                       <input type='text' class='form-control' placeholder='Date' value="{{this.date0}}" name='jobprocess_group[{{@index}}][date0]' id='text'  style='width:100%;'>
                     </td>
                    {{/equal}}
                    {{#equal this.typ1 "Date"}}
                     <td>
                       <input type='hidden' name='jobprocess_group[{{@index}}][typ1]' value='Date'>
                       <input type='text' class='form-control' placeholder='Date' value="{{this.date1}}" name='jobprocess_group[{{@index}}][date1]' id='text'  style='width:100%;'>
                    </td>
                    {{/equal}}
                     {{#equal this.typ2 "Date"}}
                     <td>
                        <input type='hidden' name='jobprocess_group[{{@index}}][typ2]' value='Date'>
                       <input type='text' class='form-control' placeholder='Date' value="{{this.date2}}" name='jobprocess_group[{{@index}}][date2]' id='text'  style='width:100%;'>
                    </td>
                    {{/equal}}
                     {{#equal this.typ3 "Date"}}
                     <td>
                       <input type='hidden' name='jobprocess_group[{{@index}}][typ3]' value='Date'>
                       <input type='text' class='form-control' placeholder='Date' value="{{this.date3}}" name='jobprocess_group[{{@index}}][date3]' id='text'  style='width:100%;'>
                    </td>
                    {{/equal}}
                     {{#equal this.typ4 "Date"}}
                     <td>
                       <input type='hidden' name='jobprocess_group[{{@index}}][typ4]' value='Date'>
                       <input type='text' class='form-control' placeholder='Date' value="{{this.date4}}" name='jobprocess_group[{{@index}}][date4]' id='text'  style='width:100%;'>
                    </td>
                    {{/equal}}
                     {{#equal this.typ0 "Shift"}}
                     <td>
                       <input type='hidden' name='jobprocess_group[{{@index}}][typ0]' value='Shift'>
                       <input type='text' class='form-control' placeholder='Shift' value="{{this.shift0}}" name='jobprocess_group[{{@index}}][shift0]' id='text'  style='width:100%;'>
                    </td>
                    {{/equal}}
                    {{#equal this.typ1 "Shift"}}
                     <td>
                        <input type='hidden' name='jobprocess_group[{{@index}}][typ1]' value='Shift'>
                       <input type='text' class='form-control' placeholder='Shift' value="{{this.shift1}}" name='jobprocess_group[{{@index}}][shift1]' id='text'  style='width:100%;'>
                    </td>
                    {{/equal}}
                    {{#equal this.typ2 "Shift"}}
                     <td>
                       <input type='hidden' name='jobprocess_group[{{@index}}][typ2]' value='Shift'>
                       <input type='text' class='form-control' placeholder='Shift' value="{{this.shift2}}" name='jobprocess_group[{{@index}}][shift2]' id='text'  style='width:100%;'>
                    </td>
                    {{/equal}}
                    {{#equal this.typ3 "Shift"}}
                     <td>
                        <input type='hidden' name='jobprocess_group[{{@index}}][typ3]' value='Shift'>
                       <input type='text' class='form-control' placeholder='Shift' value="{{this.shift3}}" name='jobprocess_group[{{@index}}][shift3]' id='text'  style='width:100%;'>
                       </td>
                    {{/equal}}
                     {{#equal this.typ4 "Shift"}}
                     <td>
                       <input type='hidden' name='jobprocess_group[{{@index}}][typ4]' value='Shift'>
                       <input type='text' class='form-control' placeholder='Shift' value="{{this.shift4}}" name='jobprocess_group[{{@index}}][shift4]' id='text'  style='width:100%;'>
                       </td>
                    {{/equal}}
                     {{#equal this.typ0 "Time"}}
                     <td>
                       <input type='hidden' name='jobprocess_group[{{@index}}][typ0]' value='Time'>
                       <input type='text' class='form-control' placeholder='Time' value="{{this.time0}}" name='jobprocess_group[{{@index}}][time0]' id='text'  style='width:100%;'>
                       </td>
                    {{/equal}}
                    {{#equal this.typ1 "Time"}}
                     <td>
                       <input type='hidden' name='jobprocess_group[{{@index}}][typ1]' value='Time'>
                       <input type='text' class='form-control' placeholder='Time' value="{{this.time1}}" name='jobprocess_group[{{@index}}][time1]' id='text'  style='width:100%;'>
                       </td>
                    {{/equal}}
                     {{#equal this.typ2 "Time"}}
                     <td>
                       <input type='hidden' name='jobprocess_group[{{@index}}][typ2]' value='Time'>
                       <input type='text' class='form-control' placeholder='Time' value="{{this.time2}}" name='jobprocess_group[{{@index}}][time2]' id='text'  style='width:100%;'>
                       </td>
                    {{/equal}}
                     {{#equal this.typ3 "Time"}}
                     <td>
                       <input type='hidden' name='jobprocess_group[{{@index}}][typ3]' value='Time'>
                       <input type='text' class='form-control' placeholder='Time' value="{{this.time3}}" name='jobprocess_group[{{@index}}][time3]' id='text'  style='width:100%;'>
                       </td>
                    {{/equal}}
                     {{#equal this.typ4 "Time"}}
                     <td>
                       <input type='hidden' name='jobprocess_group[{{@index}}][typ4]' value='Time'>
                       <input type='text' class='form-control' placeholder='Time' value="{{this.time4}}" name='jobprocess_group[{{@index}}][time4]' id='text'  style='width:100%;'>
                       </td>
                    {{/equal}}
                     {{#equal this.typ0 "Loging"}}
                     <td>
                       <input type='hidden' name='jobprocess_group[{{@index}}][typ0]' value='Loging'>
                       <input type='text' class='form-control' placeholder='Loging' value="{{this.loging0}}" name='jobprocess_group[{{@index}}][loging0]' id='text'  style='width:100%;'>
                       </td>
                    {{/equal}}
                      {{#equal this.typ1 "Loging"}}
                     <td>
                       <input type='hidden' name='jobprocess_group[{{@index}}][typ1]' value='Loging'>
                       <input type='text' class='form-control' placeholder='Loging' value="{{this.loging1}}" name='jobprocess_group[{{@index}}][loging1]' id='text'  style='width:100%;'>
                       </td>
                    {{/equal}}
                     {{#equal this.typ2 "Loging"}}
                     <td>
                       <input type='hidden' name='jobprocess_group[{{@index}}][typ2]' value='Loging'>
                       <input type='text' class='form-control' placeholder='Loging' value="{{this.loging2}}" name='jobprocess_group[{{@index}}][loging2]' id='text'  style='width:100%;'>
                       </td>
                    {{/equal}}
                     {{#equal this.typ3 "Loging"}}
                     <td>
                       <input type='hidden' name='jobprocess_group[{{@index}}][typ3]' value='Loging'>
                       <input type='text' class='form-control' placeholder='Loging' value="{{this.loging3}}" name='jobprocess_group[{{@index}}][loging3]' id='text'  style='width:100%;'>
                       </td>
                    {{/equal}}
                     {{#equal this.typ4 "Loging"}}
                     <td>
                       <input type='hidden' name='jobprocess_group[{{@index}}][typ4]' value='Loging'>
                       <input type='text' class='form-control' placeholder='Loging' value="{{this.loging4}}" name='jobprocess_group[{{@index}}][loging4]' id='text'  style='width:100%;'>
                       </td>
                    {{/equal}}
                    {{!-- obj --}}
                       {{#equal this.typ0 "Observation"}}
                     <td>
                       <input type='hidden' name='jobprocess_group[{{@index}}][typ0]' value='Observation'>
                       <input type='text' class='form-control' placeholder='Observation' value="{{this.observation0}}" name='jobprocess_group[{{@index}}][observation0]' id='text'  style='width:100%;'>
                       </td>
                    {{/equal}}
                      {{#equal this.typ1 "Observation"}}
                     <td>
                       <input type='hidden' name='jobprocess_group[{{@index}}][typ1]' value='Observation'>
                       <input type='text' class='form-control' placeholder='Observation' value="{{this.observation1}}" name='jobprocess_group[{{@index}}][observation1]' id='text'  style='width:100%;'>
                       </td>
                    {{/equal}}
                     {{#equal this.typ2 "Observation"}}
                     <td>
                       <input type='hidden' name='jobprocess_group[{{@index}}][typ2]' value='Observation'>
                       <input type='text' class='form-control' placeholder='Observation' value="{{this.observation2}}" name='jobprocess_group[{{@index}}][observation2]' id='text'  style='width:100%;'>
                       </td>
                    {{/equal}}
                     {{#equal this.typ3 "Observation"}}
                     <td>
                       <input type='hidden' name='jobprocess_group[{{@index}}][typ3]' value='Observation'>
                       <input type='text' class='form-control' placeholder='Observation' value="{{this.observation3}}" name='jobprocess_group[{{@index}}][observation3]' id='text'  style='width:100%;'>
                       </td>
                    {{/equal}}
                     {{#equal this.typ4 "Observation"}}
                     <td>
                       <input type='hidden' name='jobprocess_group[{{@index}}][typ4]' value='Observation'>
                       <input type='text' class='form-control' placeholder='Observation' value="{{this.observation4}}" name='jobprocess_group[{{@index}}][observation4]' id='text'  style='width:100%;'>
                       </td>
                    {{/equal}}
                    {{!-- obj --}}
                     {{#equal this.typ0 "Combo"}}
                     <td>
                       <input type='hidden' name='jobprocess_group[{{@index}}][typ0]' value='Combo'>
                        <select class='form-control' name='jobprocess_group[{{@index}}][combo0]' id='dsprtion'>
                        <option value='Date' {{#equal this.combo0 "Date"}}selected=""{{/equal}}>Date</option>
                        <option value='Shift' {{#equal this.combo0 "Shift"}}selected=""{{/equal}}>Shift</option>
                        <option value='Time' {{#equal this.combo0 "Time"}}selected=""{{/equal}}>Time</option>
                        <option value='Loging' {{#equal this.combo0 "Loging"}}selected=""{{/equal}}>Loging</option>
                        <option value='Text' {{#equal this.combo0 "Text"}}selected=""{{/equal}}>Text</option>
                        <option value='Combo' {{#equal this.combo0 "Combo"}}selected=""{{/equal}}>Combo</option>
                        <option value='Observation' {{#equal this.combo0 "Observation"}}selected=""{{/equal}}>Observation</option>
                        <option value='Y/n' {{#equal this.combo0 "Y/n"}}selected=""{{/equal}}>Y/n</option>
                        </select>
                     </td>
                    {{/equal}}
                     {{#equal this.typ1 "Combo"}}
                     <td>
                       <input type='hidden' name='jobprocess_group[{{@index}}][typ1]' value='Combo'>
                        <select class='form-control' name='jobprocess_group[{{@index}}][combo1]' id='dsprtion'>
                        <option value='Date' {{#equal this.combo1 "Date"}}selected=""{{/equal}}>Date</option>
                        <option value='Shift' {{#equal this.combo1 "Shift"}}selected=""{{/equal}}>Shift</option>
                        <option value='Time' {{#equal this.combo1 "Time"}}selected=""{{/equal}}>Time</option>
                        <option value='Loging' {{#equal this.combo1 "Loging"}}selected=""{{/equal}}>Loging</option>
                        <option value='Text' {{#equal this.combo1 "Text"}}selected=""{{/equal}}>Text</option>
                        <option value='Combo' {{#equal this.combo1 "Combo"}}selected=""{{/equal}}>Combo</option>
                        <option value='Observation' {{#equal this.combo1 "Observation"}}selected=""{{/equal}}>Observation</option>
                        <option value='Y/n' {{#equal this.combo1 "Y/n"}}selected=""{{/equal}}>Y/n</option>
                        </select>
                     </td>
                    {{/equal}}
                     {{#equal this.typ2 "Combo"}}
                     <td>
                       <input type='hidden' name='jobprocess_group[{{@index}}][typ2]' value='Combo'>
                        <select class='form-control' name='jobprocess_group[{{@index}}][combo2]' id='dsprtion'>
                        <option value='Date' {{#equal this.combo2 "Date"}}selected=""{{/equal}}>Date</option>
                        <option value='Shift' {{#equal this.combo2 "Shift"}}selected=""{{/equal}}>Shift</option>
                        <option value='Time' {{#equal this.combo2 "Time"}}selected=""{{/equal}}>Time</option>
                        <option value='Loging' {{#equal this.combo2 "Loging"}}selected=""{{/equal}}>Loging</option>
                        <option value='Text' {{#equal this.combo2 "Text"}}selected=""{{/equal}}>Text</option>
                        <option value='Combo' {{#equal this.combo2 "Combo"}}selected=""{{/equal}}>Combo</option>
                        <option value='Observation' {{#equal this.combo2 "Observation"}}selected=""{{/equal}}>Observation</option>
                        <option value='Y/n' {{#equal this.combo2 "Y/n"}}selected=""{{/equal}}>Y/n</option>
                        </select>
                     </td>
                    {{/equal}}
                     {{#equal this.typ3 "Combo"}}
                     <td>
                       <input type='hidden' name='jobprocess_group[{{@index}}][typ3]' value='Combo'>
                        <select class='form-control' name='jobprocess_group[{{@index}}][combo3]' id='dsprtion'>
                        <option value='Date' {{#equal this.combo3 "Date"}}selected=""{{/equal}}>Date</option>
                        <option value='Shift' {{#equal this.combo3 "Shift"}}selected=""{{/equal}}>Shift</option>
                        <option value='Time' {{#equal this.combo3 "Time"}}selected=""{{/equal}}>Time</option>
                        <option value='Loging' {{#equal this.combo3 "Loging"}}selected=""{{/equal}}>Loging</option>
                        <option value='Text' {{#equal this.combo3 "Text"}}selected=""{{/equal}}>Text</option>
                        <option value='Combo' {{#equal this.combo3 "Combo"}}selected=""{{/equal}}>Combo</option>
                        <option value='Observation' {{#equal this.combo3 "Observation"}}selected=""{{/equal}}>Observation</option>
                        <option value='Y/n' {{#equal this.combo3 "Y/n"}}selected=""{{/equal}}>Y/n</option>
                        </select>
                     </td>
                    {{/equal}}
                     {{#equal this.typ4 "Combo"}}
                     <td>
                        <input type='hidden' name='jobprocess_group[{{@index}}][typ4]' value='Combo'>
                        <select class='form-control' name='jobprocess_group[{{@index}}][combo4]' id='dsprtion'>
                        <option value='Date' {{#equal this.combo4 "Date"}}selected=""{{/equal}}>Date</option>
                        <option value='Shift' {{#equal this.combo4 "Shift"}}selected=""{{/equal}}>Shift</option>
                        <option value='Time' {{#equal this.combo4 "Time"}}selected=""{{/equal}}>Time</option>
                        <option value='Loging' {{#equal this.combo4 "Loging"}}selected=""{{/equal}}>Loging</option>
                        <option value='Text' {{#equal this.combo4 "Text"}}selected=""{{/equal}}>Text</option>
                        <option value='Combo' {{#equal this.combo4 "Combo"}}selected=""{{/equal}}>Combo</option>
                        <option value='Observation' {{#equal this.combo4 "Observation"}}selected=""{{/equal}}>Observation</option>
                        <option value='Y/n' {{#equal this.combo4 "Y/n"}}selected=""{{/equal}}>Y/n</option>
                        </select>
                     </td>
                    {{/equal}}
                   </tr>
                   {{/each}}
                   </tbody>
                   </table>
                   </div>
          <div class='form-group activity_group_div'></div>
        </div>
        <!-- /.box-body -->
       
         
          <div class="box-footer">
           <input type="reset" class="btn btn-default" value="Clear Form">
              {{!-- <input type="submit" class="btn btn-info pull-right" value="submit" id="submit"> --}}
              <input type="submit" class="btn btn-success pull-right"  value="update" id="update">
        </div>
        </form>
  </div>
      </section>
    </div>
    
  </div>
</div>
 {{> footer}}
<style>
 .button-clear {

          background-color: Transparent;
            background-repeat:no-repeat;
            border: none;
            cursor:pointer;
            overflow: hidden;

        }
       </style>
       