{{> header}}
{{> nav}}


<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
     <a href="/jobprocessentry/jobprocessentry" style="color:white"><h1 class="btn btn-primary pull-left" style="margin-bottom: 21px;">Add Job Process Entry</h1></a>
      <ol class="breadcrumb" >
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
         {{!-- <li><a href="#"><i class="fa fa-dashboard"></i> Add Product Master</a></li> --}}
      </ol>
    </section>
  <div class="row">
    <div class="col-md-7">
      <section class="content-header">      
  {{!-- <div class="box box-primary"> --}}
    {{!-- <div class="box-header with-border"> --}}
      {{!-- <h3 class="box-title" id="add">Product Master</h3>
      <h3 class="box-title" id="edit" style="display: none">Update Product Master</h3> --}}
          {{#if err}}
          <div class="alert alert-danger">
          <strong>{{err}}</strong>
          </div>
          {{/if}}
          {{#if errors}}
          <div class="alert alert-danger">
          <strong>{{errors}}</strong>
          </div>
          {{/if}}
    {{!-- </div> --}}
  {{!-- </div> --}}
      </section>
    </div>
    <div class="col-md-12">
      <section class="content-header">
        <div class="box box-primary">
          <div class="box-header with-border">
            <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
          </div>
            <h3 class="box-title">View Job Process Entry</h3>
                  <p style="text-align: center;color:#ff0000;margin-top: -20px;"></p>
          </div>
            <div class="box-body">
              <div class="table-responsive">
                <table id="example" class="table display table-bordered table-striped">
                  <thead>
                      <tr>
                        <th>#</th>
                        <th>Entry No</th>
                        <th>Date</th>
                        <th>Department</th>
                        <th>Activity Name</th>
                        <th>Job Card No</th>
                        <th>Product Name</th>
                        <th>Item code</th>
                        <th width="10%">Action</th>
                      </tr>
                  </thead>
                 <tbody>
                   {{#each jobprocess as |value key|}}
                      <tr>
                          <td>{{sum @index 1}}</td>
                          <td>{{this.jobprcss_entryno}}</td>
                          <td>{{this.jobprcss_date}}</td>
                          <td>{{this.jobprcss_deprt.departmnt_name}}</td>
                          <td>{{this.jobprcss_activity.jobactivty_actvnm}}</td>
                          <td>{{this.newjb_jbcrd}}</td>
                          <td>{{this.jobprcss_productname}}</td>
                          <td>{{this.jobprcss_itemcode}}</td>
                          <td>
                          <div class="btn-group">
                          {{!-- <button type="button" class="btn btn-info"></button> --}}
                          <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Action
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                          </button>
                          <ul class="dropdown-menu" role="menu">
                            <li> <a href="/jobprocessentry/jobprocessentry_update/{{value._id}}"><i class="fa fa-pencil"></i></i></a></li>
                            <li><a href="/jobprocessentry/delete_jobprocessentry/?id={{value._id}}&amp;entryno={{value.jobprcss_entryno}}" class="delbutton"><i class="fa fa-trash-o" style="color:red;"></i></a></li>
                            
                          </ul>
                        </div>
                      </td>
                      </tr>
                     {{/each}}  
                   </tbody>
                </table>
      </div>
    </div>
  </div>
      </section>
    </div>
    
  </div>
</div>
 {{> footer}}
<style>
 .button-clear {

          background-color: Transparent;
            background-repeat:no-repeat;
            border: none;
            cursor:pointer;
            overflow: hidden;

        }
        div.dataTables_wrapper {
        margin-bottom: 3em;
    }
       </style>
       