{{> header}}
{{> nav}}

<!-- <script>
$(function () {
  $("#example").DataTable();
});
</script> -->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="row">
    <div class="col-md-5">
      <section class="content-header">
         
         
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title" id="add">Machine Master</h3>
      <h3 class="box-title" id="edit" style="display: none">Update Machine Master</h3>
          {{#if err}}
          <div class="alert alert-danger">
          <strong>{{err}}</strong>
          </div>
          {{/if}}
          {{#if errors}}
          <div class="alert alert-danger">
          <strong>{{errors}}</strong>
          </div>
          {{/if}}
      <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
          </div>
    </div>
       <form action="/machine_mast/add" class="form-horizontal" enctype="multipart/form-data"  method="post" id="machine_add">
          <h4 style="color: red;text-align: center;"></h4>
        <div class="box-body">
          <div class="form-group">
            <label class="col-md-4">Machine Name</label>
            <div class="col-md-8"> 
                <input type="text" class="form-control" name="machine_name" id="machine_name" placeholder="Machine Name" required="">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">Code</label>
            <div class="col-md-8"> 
                <input type="text" class="form-control" name="machine_code" id="machine_code" placeholder="Code" required="">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">Manufacturer</label>
            <div class="col-md-8"> 
              <select class="form-control machine_manufctur" name="machine_manufctur" id="machine_manufctur" required="">
                 <option>----Select Manuacturer----</option>
                {{#each manufuctur}}
                <option value="{{this._id}}" data-manufactur="{{this._id}}">{{this.manufactur_name}}</option>
                {{/each}}
              </select>
            </div>
          </div>
            <div class="form-group">
            <label class="col-md-4">Installation date</label>
            <div class="col-md-8"> 
                <input type="text" class="form-control" name="machine_insdt" id="machine_code" placeholder="Code" required="">
            </div>
          </div>
            <div class="form-group">
            <label class="col-md-4">Cost</label>
            <div class="col-md-8"> 
                <input type="text" class="form-control" name="machine_cost" id="machine_code" placeholder="Cost" required="">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">Maintainance interval [Days]</label>
            <div class="col-md-8"> 
                <input type="text" class="form-control" name="machine_maintint" id="machine_maintint" placeholder="Maintainance interval [Days]" required="">
            </div>
          </div>
           <div class="form-group">
            <label class="col-md-4">Installation Certificate</label>
            <div class="col-md-8"> 
                <input type="text" class="form-control" name="machine_inscrt" id="machine_inscrt" placeholder="Installation Certificate" required="">
            </div>
          </div>
           <div class="form-group">
            <label class="col-md-4">(Upload PDF Option)</label>
            <div class="col-md-8"> 
                <input type="file" class="form-control" name="machine_pdf" id="machine_pdf">
            </div>
          </div>
            <div class="form-group">
            <label class="col-md-4">Department</label>
            <div class="col-md-8"> 
              <select class="form-control machine_deprt" name="machine_deprt" id="machine_deprt">
                 <option value="">----Select Department----</option>
                {{#each departmnt}}
                <option value="{{this._id}}" data-departmnt="{{this._id}}">{{this.departmnt_name}}</option>
                {{/each}}
              </select>
            </div>
          </div>
           <div class="form-group">
            <label class="col-md-4">Location</label>
            <div class="col-md-8"> 
                <input type="text" class="form-control" name="machine_loction" id="machine_loction" placeholder="Location">
            </div>
          </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
           <input type="reset" class="btn btn-default" value="Clear Form">
              <input type="submit" class="btn btn-info pull-right" value="submit" id="submit">
              <input type="submit" class="btn btn-success pull-right"  value="update" id="update" style="display:none;">
        </div>
        </form>
         <form action="" class="form-horizontal" enctype="multipart/form-data"  method="post" id="edit_machine" style="display:none">
          <h4 style="color: red;text-align: center;"></h4>
       <div class="box-body">
          <div class="form-group">
            <label class="col-md-4">Machine Name</label>
            <div class="col-md-8"> 
                <input type="text" class="form-control machine_name" name="machine_name" id="machine_name" placeholder="Machine Name" required="">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">Code</label>
            <div class="col-md-8"> 
                <input type="text" class="form-control machine_code" name="machine_code" id="machine_code" placeholder="Code" required="">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">Manufacturer</label>
            <div class="col-md-8"> 
                <select class="form-control machine_manufctur" name="machine_manufctur" id="machine_manufctur" required="">
                 <option>----Select Manuacturer----</option>
                {{#each manufuctur}}
                <option value="{{this._id}}" data-manufactur="{{this._id}}">{{this.manufactur_name}}</option>
                {{/each}}
              </select>
            </div>
          </div>
            <div class="form-group">
            <label class="col-md-4">Installation date</label>
            <div class="col-md-8"> 
                <input type="text" class="form-control machine_insdt" name="machine_insdt" id="machine_code" placeholder="Code" required="">
            </div>
          </div>
            <div class="form-group">
            <label class="col-md-4">Cost</label>
            <div class="col-md-8"> 
                <input type="text" class="form-control machine_cost" name="machine_cost" id="machine_code" placeholder="Cost" required="">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">Maintainance interval [Days]</label>
            <div class="col-md-8"> 
                <input type="text" class="form-control machine_maintint" name="machine_maintint" id="machine_maintint" placeholder="Maintainance interval [Days]" required="">
            </div>
          </div>
           <div class="form-group">
            <label class="col-md-4">Installation Certificate</label>
            <div class="col-md-8"> 
                <input type="text" class="form-control machine_inscrt" name="machine_inscrt" id="machine_inscrt" placeholder="Installation Certificate" required="">
            </div>
          </div>
         <div class="form-group">
            <label class="col-md-4">Image</label>
            <div class="col-md-5"> 
              <input type="file" class="form-control" name="machine_pdf">
               <input type="hidden" name="previousfilename" value="" class="edit_filename"/>
            </div>
             <div class="col-md-3">
            <img src="" class="edit_machine_img"  height="50px" width="50px">
            </div>
        </div>
            <div class="form-group">
            <label class="col-md-4">Department</label>
            <div class="col-md-8"> 
                <select class="form-control machine_deprt" name="machine_deprt" id="machine_deprt">
                 <option value="">----Select Department----</option>
                {{#each departmnt}}
                <option value="{{this._id}}" data-departmnt="{{this._id}}">{{this.departmnt_name}}</option>
                {{/each}}
              </select>
            </div>
          </div>
           <div class="form-group">
            <label class="col-md-4">Location</label>
            <div class="col-md-8"> 
                <input type="text" class="form-control machine_loction" name="machine_loction" id="machine_loction" placeholder="Location">
            </div>
          </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
           <input type="reset" class="btn btn-default" value="Clear Form">
              <input type="submit" class="btn btn-success pull-right"  value="update" id="update">
        </div>
        </form>
  </div>
      </section>
    </div>
    <div class="col-md-7">
      <section class="content-header">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">View Machine Master </h3>
                  <p style="text-align: center;color:#ff0000;margin-top: -20px;"></p>
          </div>
            <div class="box-body">
              <div class="table-responsive">
                <table id="example" class="table table-bordered table-striped">
                   {{!-- {{machine}} --}}
                  <thead>
                      <tr>
                        <th>#</th>
                        <th>Machine Name</th>
                        <th>Code</th>
                        <th>Manufacturer</th>
                        <th>Installation date</th>
                        <th>Cost</th>
                        <th>Maintainance interval [Days]</th>
                        <th>Installation Certificate</th>
                        <th>(Upload PDF Option)</th>
                        <th>Department</th>
                        <th>Location</th>
                        <th width="10%">Update</th>
                        <th width="10%">Delete</th>
                      </tr>
                  </thead>
                 <tbody>
                  
                   {{#each machine as |value key|}}
                      <tr>
                          <td>{{sum @index 1}}</td>
                          <td>{{this.machine_name}}</td>
                          <td>{{this.machine_code}}</td>
                          <td>{{this.machine_manufctur.manufactur_name}}</td>
                          <td>{{this.machine_insdt}}</td>
                          <td>{{this.machine_cost}}</td>
                          <td>{{this.machine_maintint}}</td>
                          <td>{{this.machine_inscrt}}</td>
                          <td><a href="{{this.filepath}}" target='_blank' alt="pdf Not Found">Click</a></td>
                          {{!--<img src="{{this.filepath}}" target="_blank" height="50" width="50"/> --}}
                          <td>{{this.machine_deprt.departmnt_name}}</td>
                          <td>{{this.machine_loction}}</td>
                          <td><a href="javascript:void(0);"  class="edit_machine" data-id="{{this._id}}"><i class="fa fa-pencil"></i></i></a></td>
                          <td><a href="javascript:void(0);" class="delete_machine" data-id="{{this._id}}"><i class="fa fa-trash-o" style="color:red;"></a></td>
                      </tr>
                     {{/each}}  
                   </tbody>
                </table>
      </div>
    </div>
  </div>
      </section>
    </div>
    
  </div>
</div>
 {{> footer}}
<style>
 .button-clear {

          background-color: Transparent;
            background-repeat:no-repeat;
            border: none;
            cursor:pointer;
            overflow: hidden;

        }
       </style>
       