{{> header}}
{{> nav}}

<!-- <script>
$(function () {
  $("#example").DataTable();
});
</script> -->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="row">
    <div class="col-md-12">
      <section class="content-header">
         
         
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title" id="add">New Job Entry </h3>
          {{#if err}}
          <div class="alert alert-danger">
          <strong>{{err}}</strong>
          </div>
          {{/if}}
          {{#if errors}}
          <div class="alert alert-danger">
          <strong>{{errors}}</strong>
          </div>
          {{/if}}
      <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
          </div>
    </div>
       <form action="/accessories_mast/add" class="form-horizontal"  method="post" id="accessories_add">
          <h4 style="color: red;text-align: center;"></h4>
        <div class="box-body">
           <div class="form-group">
            <label class="col-md-1">Item Code</label>
            <div class="col-md-2"> 
              <input type="text" name="prdt_itemcode" id="itemcode" class="form-control" onkeyup="productfile();" placeholder="Item Code">
                {{!-- <select class="form-control prdt_itemcode" name="prdt_itemcode" onkeyup="productfile();" id="prdt_itemcode">
                 <option value="">----Select Item Code----</option>
                {{#each product}}
                <option value="{{this._id}}" data-item="{{this._id}}">{{this.prdt_itemcode}}</option>
                {{/each}}
              </select> --}}
            </div>
            <label class="col-md-1">Party Name</label>
            <div class="col-md-2"> 
                <select class="form-control" name="prdt_prtyname" id="prdt_prtyname" required="">
                 <option value="">----Select Party----</option>
                {{#each party}}
                <option value="{{this._id}}" data-party="{{this._id}}">{{this.party_name}}</option>
                {{/each}}
              </select> 
            </div>
             <label class="col-md-1">Item Name</label>
            <div class="col-md-2"> 
                <select class="form-control prdt_pname" name="prdt_pname" id="prdt_pname">
                 <option value="">----Select Item Name----</option>
                {{#each product}}
                <option value="{{this.prdt_pname}}" data-itemname="{{this._id}}">{{this.prdt_pname}}</option>
                {{/each}}
              </select>
            </div>
            <div class="col-md-2"> 
               <input type="button" class="btn btn-block btn-warning btn-sm"  name="filtersubmit" id="filtersubmit" value="Get Master">
            </div>
          </div>
        </div>
        </form>
  </div>
      </section>
    </div>
    <div class="product_detail_body"></div>
    
  </div>
</div>
 {{> footer}}
<style>
 .button-clear {

          background-color: Transparent;
            background-repeat:no-repeat;
            border: none;
            cursor:pointer;
            overflow: hidden;

        }
       </style>
       