{{> header}}
{{> nav}}
<div class="content-wrapper">
  <div class="row">
    <div class="col-md-12">
      <section class="content-header">
         
         
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title" id="add">Update New Job Entry</h3>
          {{#if err}}
          <div class="alert alert-danger">
          <strong>{{err}}</strong>
          </div>
          {{/if}}
          {{#if errors}}
          <div class="alert alert-danger">
          <strong>{{errors}}</strong>
          </div>
          {{/if}}
      <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
          </div>
    </div>
       <form action="/newjobentry/update/{{newjobentry.id}}" class="form-horizontal"  method="post" id="departmnt_add">
          <h4 style="color: red;text-align: center;"></h4>
        <div class="box-body">
          <div class="form-group">
            <label class="col-md-2">Item Code</label>
            <div class="col-md-3">
                <input type="hidden" class="form-control" name="productid" value="{{newjobentry.productid}}" id="productid"  placeholder="Item Code"> 
                <input type="text" class="form-control" name="newjb_itemcd" id="newjb_itemcd" value="{{newjobentry.newjb_itemcd}}">
            </div>
            <label class="col-md-2">Delv At</label>
            <div class="col-md-3">
               {{#listrt city newjobentry.newjb_dlvat  'newjb_dlvat'}}
                            {{this.city_name}}
                  {{/listrt}} 
            </div>
          </div>
           <div class="form-group">
            <label class="col-md-2">Job Card No</label>
            <div class="col-md-3"> 
                <input type="text" class="form-control" name="newjb_jbcrd" id="newjb_jbcrd" value="{{newjobentry.newjb_jbcrd}}">
             <input type="number" class="form-control" name="newjb_jbcrdno" id="newjb_jbcrdno" value="{{newjobentry.newjb_jbcrdno}}" style="display:none">
            </div>
            <label class="col-md-2">Po. No.</label>
            <div class="col-md-3"> 
                <input type="text" class="form-control" name="newjb_pono" id="newjb_pono" value="{{newjobentry.newjb_pono}}">
            </div>
          </div>
          {{#each newjobentry.newjobdate as |value key|}}
           <div class="newjobview_variation_row" id="newjobview_variation_row-{{@index}}">
           <div class="form-group">
            <label class="col-md-2">Date</label>
            <div class="col-md-3"> 
              <input type="hidden" name="cont{{@index}}" value="{{@index}}" id="cont{{@index}}" class="form-control" style="width: 102px;"> 
                <input type="text" class="form-control" name="newjobdate[{{@index}}][newjb_dt]" id="newjbdt" value="{{this.newjb_dt}}">
            </div>
            <label class="col-md-2">Qty</label>
            <div class="col-md-3"> 
                <input type="text" class="form-control" name="newjobdate[{{@index}}][newjb_qty]" id="newjb_qty" value="{{this.newjb_qty}}">
            </div>
             <div class="col-md-1">
              {{#notequal @index 0}}
                      <a  data-repeater-delete="{{@index}}" class='newjobview-delete-btn' style='cursor:pointer;'><i class='fa fa-times' style='font-size: 20px;color: red;margin-left: -18px;margin-top: 7px;'></i></a>
              {{/notequal}}
            </div>
          </div>
          </div>
          {{/each}}
           <div id="adddateqty_div">
              <a id="add" class="adddateqty" style="cursor: pointer;"><i class="fa fa-plus" style="font-size: 30px;color: #36c536;margin-left: 262px;"></i></a>                  
            </div>
            <div class="form-group">
            <label class="col-md-2">Po. Date</label>
            <div class="col-md-3"> 
                <input type="text" class="form-control" name="newjb_podt" id="filterenddate" value="{{newjobentry.newjb_podt}}">
            </div>
            <label class="col-md-2">Party Name</label>
            <div class="col-md-3"> 
               {{#listrt product newjobentry.newjb_prtynm  'newjb_prtynm'}}
                            {{this.prdt_prtyname.party_name}}
                  {{/listrt}} 
            </div>
          </div>
           <div class="form-group">
            <label class="col-md-2">Lamination</label>
            <div class="col-md-3"> 
                <input type="text" class="form-control" name="newjb_lmiton" id="newjb_lmiton" value="{{newjobentry.newjb_lmiton}}">
            </div>
             <label class="col-md-2">Varnish</label>
            <div class="col-md-3"> 
              {{#listrt vernish newjobentry.newjb_vernish  'newjb_vernish'}}
                            {{this.vernish_name}}
                  {{/listrt}}
            </div>
            
          </div>
           <div class="form-group">
               <label class="col-md-2">GSM</label>
            <div class="col-md-3"> 
                <input type="text" class="form-control" name="newjb_gsm" id="newjb_gsm" value="{{newjobentry.newjb_gsm}}">
            </div>
            <label class="col-md-2">Material</label>
            <div class="col-md-3"> 
                <input type="text" class="form-control" name="newjb_matril" id="newjb_matril" value="{{newjobentry.newjb_matril}}">
            </div>
          
          </div>
           <div class="form-group">
                 <label class="col-md-2">Cut Size</label>
            <div class="col-md-3"> 
                <input type="text" class="form-control" name="newjb_cutsz" id="newjb_cutsz" value="{{newjobentry.newjb_cutsz}}">
            </div>
            <label class="col-md-2">Piching/Pasting</label>
            <div class="col-md-3"> 
                <select class="form-control" name="newjb_pichng" id="newjb_pichng">
                <option value="">Select</option>
                 <option value="Piching"  {{#equal this.newjb_pichng "Piching"}}selected=""{{/equal}}>Piching</option>
                  <option value="Pasting" {{#equal this.newjb_pichng "Pasting"}} selected=""{{/equal}}>Pasting</option>
              </select>
            </div>
           
          </div>
          <div class="form-group">
               <label class="col-md-2">Actual Sheet </label>
            <div class="col-md-3"> 
                <input type="text" class="form-control" name="newjb_actulsz" id="newjb_actulsz" value="{{newjobentry.newjb_actulsz}}">
            </div>
            <label class="col-md-2">Varnish UV</label>
            <div class="col-md-3">
                 <select class="form-control" name="newjb_vrnshuv" id="newjb_vrnshuv">
                  <option value="">----Select UV----</option>
                  <option value="Gloss" {{#equal newjobentry.newjb_vrnshuv "Gloss"}}selected=""{{/equal}}>Gloss </option>
                  <option value="Matt" {{#equal newjobentry.newjb_vrnshuv "Matt"}}selected=""{{/equal}}>Matt</option>
                  <option value="Textured" {{#equal newjobentry.newjb_vrnshuv "Textured"}}selected=""{{/equal}}>Textured</option>
              </select> 
                {{!-- <input type="text" class="form-control" name="newjb_vrnshuv" id="newjb_vrnshuv" value="{{newjobentry.newjb_vrnshuv}}"> --}}
            </div>
            
          </div>
          <div class="form-group">
              <label class="col-md-2">Fold/Flat Size</label>
           <div class="col-md-1"> 
                <input type="text" class="form-control" name="newjb_folfltszl" value="{{newjobentry.newjb_folfltszl}}" id="newjb_folfltsz" placeholder="Fold/Flat Size">
            </div>
             <div class="col-md-1"> 
                <input type="text" class="form-control" name="newjb_folfltszw" id="newjb_folfltszw" value="{{newjobentry.newjb_folfltszw}}" placeholder="Fold/Flat Size">
            </div>
             <div class="col-md-1"> 
                <input type="text" class="form-control" name="newjb_folfltszh" id="newjb_folfltszh" value="{{newjobentry.newjb_folfltszh}}" placeholder="Fold/Flat Size">
            </div>
            <label class="col-md-2">Folding/Flat</label>
            <div class="col-md-3"> 
            {{#listrt inserttyp newjobentry.newjb_folft  'newjb_folft'}}
                {{this.indsrttyp_dscrpton}}
            {{/listrt}} 
            </div>
          </div>
           <div class="form-group">
               <label class="col-md-2">UPS</label>
            <div class="col-md-3"> 
                <input type="text" class="form-control" name="newjb_ups" id="newjb_ups" value="{{newjobentry.newjb_ups}}">
            </div>
            <label class="col-md-2">Remarks</label>
            <div class="col-md-3"> 
                <input type="text" class="form-control" name="newjb_remks" id="newjb_remks" value="{{newjobentry.newjb_remks}}">
            </div>
           
          </div>
          <div class="form-group">
               <label class="col-md-2">Stock in hand</label>
            <div class="col-md-3"> 
                <input type="text" class="form-control" name="newjb_stckhnd" id="newjb_stckhnd" value="{{newjobentry.newjb_stckhnd}}" >
            </div>
            <label class="col-md-2">Design style</label>
            <div class="col-md-3"> 
                 {{#listrt design newjobentry.newjb_dsignstyl  'newjb_dsignstyl'}}
                            {{this.design_style}}
                  {{/listrt}} 
            </div>
          
          </div>
           <div class="form-group">
                 <label class="col-md-2">Location</label>
            <div class="col-md-3"> 
              {{#listrt city newjobentry.newjb_locton  'newjb_locton'}}
                            {{this.city_name}}
                  {{/listrt}}
            </div>
            <label class="col-md-2">Send Shade Card</label>
            <div class="col-md-1"> 
                <input type="checkbox" name="newjb_sndshdcrd" id="newjb_sndshdcrd" {{chkchecked newjobentry.newjb_sndshdcrd 'Y'}} value="Y">
            </div>
         
             <label class="col-md-1">TP</label>
            <div class="col-md-1"> 
                <input type="checkbox" name="newjb_tp" {{chkchecked newjobentry.newjb_tp 'Y'}} id="newjb_tp" value="Y">
            </div>
             </div> 
           <div class="form-group">
            <label class="col-md-2">Change</label>
            <div class="col-md-1"> 
                <input type="checkbox" name="newjb_chng" id="newjb_chng" {{chkchecked newjobentry.newjb_chng 'Y'}} value="Y">
            </div>
            <label class="col-md-1">New Job</label>
            <div class="col-md-1"> 
                <input type="checkbox" name="newjb_nwjb" id="newjb_nwjb" {{chkchecked newjobentry.newjb_nwjb 'Y'}} value="Y">
            </div>
             <label class="col-md-1">Repeat</label>
            <div class="col-md-1"> 
                <input type="checkbox" name="newjb_rupes" id="newjb_rupes" {{chkchecked newjobentry.newjb_rupes 'Y'}} value="Y">
            </div>
          </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
           <input type="reset" class="btn btn-default" value="Clear Form">
              <input type="submit" class="btn btn-success pull-right"  value="update" id="update">
        </div>
        </form>
  </div>
      </section>
    </div>
  </div>
    </div>
 {{> footer}}
<style>
 .button-clear {

          background-color: Transparent;
            background-repeat:no-repeat;
            border: none;
            cursor:pointer;
            overflow: hidden;

        }
       </style>
       