{{> header}}
{{> nav}}

<!-- <script>
$(function () {
  $("#example").DataTable();
});
</script> -->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="row">
    <div class="col-md-12">
      <section class="content-header">
         
         
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title" id="add">New Job Entry</h3>
      <h3 class="box-title" id="edit" style="display: none">Update New Job Entry</h3>
          {{#if err}}
          <div class="alert alert-danger">
          <strong>{{err}}</strong>
          </div>
          {{/if}}
          {{#if errors}}
          <div class="alert alert-danger">
          <strong>{{errors}}</strong>
          </div>
          {{/if}}
      <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
          </div>
    </div>
       <form action="/newjobentry/add/{{productid.id}}" class="form-horizontal"  method="post" id="departmnt_add">
       {{#if errors}}
          <h4 style="color: red;text-align: center;">{{serialerror}}</h4>
          {{/if}}
        <div class="box-body">
             <div class="form-group">   
            <label class="col-md-2">Send Shade Card</label>
            <div class="col-md-1"> 
                <input type="checkbox" name="newjb_sndshdcrd" id="newjb_sndshdcrd" value="Y">
            </div>
             <label class="col-md-1">TP</label>
            <div class="col-md-1"> 
                <input type="checkbox" name="newjb_tp" id="newjb_tp" value="Y">
            </div>
             <label class="col-md-1">Change</label>
            <div class="col-md-1"> 
                <input type="checkbox" name="newjb_chng" id="newjb_chng" value="Y">
            </div>
            <label class="col-md-1">New Job</label>
            <div class="col-md-1"> 
                <input type="checkbox" name="newjb_nwjb" id="newjb_nwjb" value="Y">
            </div>
             <label class="col-md-1">Repeat</label>
            <div class="col-md-1"> 
                <input type="checkbox" name="newjb_rupes" id="newjb_rupes" value="Y">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2">Item Code</label>
            <div class="col-md-3">
                <input type="hidden" class="form-control" name="productid" id="productid" value="{{productid.id}}" placeholder="Item Code"> 
                <input type="text" class="form-control" name="newjb_itemcd" id="newjb_itemcd" value="{{productid.prdt_itemcode}}" placeholder="Item Code">
            </div>
            <label class="col-md-2">Delv At</label>
            <div class="col-md-3"> 
                 <select class="form-control " name="newjb_dlvat" id="newjb_dlvat">
                <option value="">Select Delv At</option>
                 {{#each productid.location_group}}
                  {{#each ../city}}
                    <option value="{{this._id}}" data-city="{{this._id}}" {{#equal ../prdt_location this._id}}selected=""{{/equal}}>{{this.city_name}}</option>
                {{/each}}
                {{!-- <option value="{{this._id}}" data-city="{{this._id}}">{{this.prdt_location}}</option> --}}
                {{/each}}
              </select>
            </div>
          </div>
           <div class="form-group">
            <label class="col-md-2">Job Card No</label>
            <div class="col-md-3"> 
                <input type="text" class="form-control" name="newjb_jbcrd" id="newjb_jbcrd" value="18-DEC-{{maxno newjobentry}}">
                <input type="number" class="form-control" name="newjb_jbcrdno" id="newjb_jbcrdno" value="{{maxnewjobcard newjob}}" style="display:none">
            </div>
            <label class="col-md-2">Po. No.</label>
            <div class="col-md-3"> 
                <input type="text" class="form-control" name="newjb_pono" id="newjb_pono" placeholder="Po. No">
            </div>
          </div>
           <div class="form-group">
            <label class="col-md-2">Date</label>
            <div class="col-md-3">
                 <input type="hidden" name="cont{{@index}}" value="{{@index}}" id="cont{{@index}}" class="form-control" style="width: 102px;"> 
                <input type="text" class="form-control" name="newjobdate[0][newjb_dt]" id="newjbdt" placeholder="Date">
            </div>
            <label class="col-md-2">Qty</label>
            <div class="col-md-3"> 
                <input type="text" class="form-control" name="newjobdate[0][newjb_qty]" id="newjb_qty" placeholder="Qty">
            </div>
          </div>
           <div id="adddateqty_div">
              <a id="add" class="adddateqty" style="cursor: pointer;"><i class="fa fa-plus" style="font-size: 30px;color: #36c536;margin-left: 262px;"></i></a>                  
            </div>
            <div class="form-group">
            <label class="col-md-2">Po. Date</label>
            <div class="col-md-3"> 
                <input type="text" class="form-control" name="newjb_podt" id="filterenddate" placeholder="Po. Date">
            </div>
            <label class="col-md-2">Party Name</label>
            <div class="col-md-3"> 
                   {{#listrt party productid.prdt_prtyname  'newjb_prtynm'}}
                            {{this.party_name}}
                  {{/listrt}}
                 {{!-- <select class="form-control " name="newjb_prtynm" id="newjb_prtynm">
                <option value="">Select Party</option>
                {{#each product}}
                <option value="{{this._id}}" data-product="{{this._id}}">{{this.prdt_prtyname.party_name}}</option>
                {{/each}}
              </select> --}}
            </div>
          </div>
           <div class="form-group">
            <label class="col-md-2">Lamination</label>
            <div class="col-md-3">
                <select class="form-control" name="newjb_lmiton" id="prdt_lamination">
                  <option value="">----Select Lamination----</option>
                  <option value="outside" {{#equal productid.prdt_lamination "outside"}}selected=""{{/equal}}>outside</option>
                  <option value="inside/NA" {{#equal productid.prdt_lamination "inside/NA"}}selected=""{{/equal}}>inside/NA</option>
              </select> 
            </div>
             <label class="col-md-2">Varnish</label>
            <div class="col-md-3"> 
                 {{#listrt vernish productid.prdt_vernish  'newjb_vernish'}}
                            {{this.vernish_name}}
                  {{/listrt}} 
                {{!-- <select class="form-control " name="newjb_vernish" id="newjb_vernish">
                <option value="">Select Varnish</option>
                {{#each vernish}}
                <option value="{{this._id}}" data-vernish="{{this._id}}">{{this.vernish_name}}</option>
                {{/each}}
              </select> --}}
            </div>
            
          </div>
           <div class="form-group">
               <label class="col-md-2">GSM</label>
            <div class="col-md-3"> 
                <input type="text" class="form-control" name="newjb_gsm" value="{{productid.prdt_gsmmb}}" id="newjb_gsm" placeholder="GSM">
            </div>
            <label class="col-md-2">Material</label>
            <div class="col-md-3"> 
                  {{#listrtcomp accessories productid.prdt_material  'newjb_matril' 'newjb_matril'}}
                            {{this.accessories_desc}}
                  {{/listrtcomp}}
                {{!-- <input type="text" class="form-control" name="newjb_matril" id="newjb_matril" placeholder="Material"> --}}
            </div>
          
          </div>
           <div class="form-group">
                 <label class="col-md-2">Cut Size</label>
            <div class="col-md-3"> 
                <input type="text" class="form-control" name="newjb_cutsz" id="newjb_cutsz" placeholder="Cut Size">
            </div>
            {{!-- <label class="col-md-2">Piching/Pasting</label>
            <div class="col-md-3"> 
                <select class="form-control" name="newjb_pichng" id="newjb_pichng">
                <option value="">Select</option>
                 <option value="Piching">Piching</option>
                  <option value="Pasting">Pasting</option>
              </select>
            </div> --}}
              <label class="col-md-2">Actual Sheet </label>
            <div class="col-md-3"> 
                <input type="text" class="form-control" name="newjb_actulsz" id="newjb_actulsz" placeholder="Actual Sheet">
            </div>
           
          </div>
          <div class="form-group">
               {{!-- <label class="col-md-2">Actual Sheet </label>
            <div class="col-md-3"> 
                <input type="text" class="form-control" name="newjb_actulsz" id="newjb_actulsz" placeholder="Actual Sheet">
            </div> --}}
            <label class="col-md-2">Varnish UV</label>
            <div class="col-md-3"> 
                <select class="form-control" name="newjb_vrnshuv" id="newjb_vrnshuv">
                  <option value="">----Select UV----</option>
                  <option value="Gloss" {{#equal productid.prdt_uv "Gloss"}}selected=""{{/equal}}>Gloss </option>
                  <option value="Matt" {{#equal productid.prdt_uv "Matt"}}selected=""{{/equal}}>Matt</option>
                  <option value="Textured" {{#equal productid.prdt_uv "Textured"}}selected=""{{/equal}}>Textured</option>
              </select>
                {{!-- <input type="text" class="form-control" name="" id="newjb_vrnshuv" placeholder="Varnish UV"> --}}
            </div>
             <label class="col-md-2">Fold/Flat Size</label>
            <div class="col-md-1"> 
                <input type="text" class="form-control" name="newjb_folfltszl" value="{{productid.foldng_l}}" id="newjb_folfltsz" placeholder="Fold/Flat Size">
            </div>
             <div class="col-md-1"> 
                <input type="text" class="form-control" name="newjb_folfltszw" id="newjb_folfltszw" value="{{productid.foldng_w}}" placeholder="Fold/Flat Size">
            </div>
             <div class="col-md-1"> 
                <input type="text" class="form-control" name="newjb_folfltszh" id="newjb_folfltszh" value="{{productid.foldng_h}}" placeholder="Fold/Flat Size">
            </div>
            
          </div>
          <div class="form-group">
             
            <label class="col-md-2">Folding/Flat</label>
            <div class="col-md-3">
                 {{#listrt inserttyp productid.prdt_fldingflat  'newjb_folft'}}
                            {{this.indsrttyp_dscrpton}}
                  {{/listrt}} 
                {{!-- <input type="text" class="form-control" name="newjb_folft" id="newjb_folft" placeholder="Folding/Flat"> --}}
            </div>
             <label class="col-md-2">UPS</label>
            <div class="col-md-3"> 
                <input type="text" class="form-control" name="newjb_ups" id="newjb_ups" placeholder="UPS">
            </div>
            
          </div>
           <div class="form-group">  
            <label class="col-md-2">Remarks</label>
            <div class="col-md-3"> 
                <input type="text" class="form-control" name="newjb_remks" id="newjb_remks" placeholder="Remarks">
            </div>
             <label class="col-md-2">Stock in hand</label>
            <div class="col-md-3"> 
                <input type="text" class="form-control" name="newjb_stckhnd" id="newjb_stckhnd" placeholder="Stock in hand" >
            </div>
           
          </div>
          <div class="form-group">
              
            <label class="col-md-2">Design style</label>
            <div class="col-md-3">
            {{#listrt design productid.prdt_dsignstyl  'newjb_dsignstyl'}}
                 {{this.design_style}}
            {{/listrt}}
            </div>
           <label class="col-md-2">Location</label>
            <div class="col-md-3"> 
                 <select class="form-control " name="newjb_locton" id="newjb_locton">
                <option value="">Select Location</option>
                {{#each city}}
                <option value="{{this._id}}" data-city="{{this._id}}">{{this.city_name}}</option>
                {{/each}}
              </select>
            </div>
          </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
           <input type="reset" class="btn btn-default" value="Clear Form">
              <input type="submit" class="btn btn-info pull-right" value="submit" id="submit">
             
        </div>
        </form>
  </div>
      </section>
   </div>
  </div>
    </div>
 {{> footer}}
<style>
 .button-clear {

          background-color: Transparent;
            background-repeat:no-repeat;
            border: none;
            cursor:pointer;
            overflow: hidden;

        }
       </style>
       