{{> header}}
{{> nav}}

<!-- <script>
$(function () {
  $("#example").DataTable();
});
</script> -->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="row">
    <div class="col-md-7">
      <section class="content-header">
         
         
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title" id="add">Party Master</h3>
      <h3 class="box-title" id="edit" style="display: none">Update Party Master</h3>
          {{#if err}}
          <div class="alert alert-danger">
          <strong>{{err}}</strong>
          </div>
          {{/if}}
          {{#if errors}}
          <div class="alert alert-danger">
          <strong>{{errors}}</strong>
          </div>
          {{/if}}
      <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
          </div>
    </div>
       <form action="/party_mast/add" class="form-horizontal" enctype="multipart/form-data" method="post" id="party_add">
          <h4 style="color: red;text-align: center;"></h4>
        <div class="box-body">
          <div class="form-group">
            <label class="col-md-3">Party Code</label>
            <div class="col-md-3"> 
                <input type="text" class="form-control" name="party_code" id="party_code" placeholder="Party Code" required="">
            </div>
             <label class="col-md-3">Party Name</label>
            <div class="col-md-3"> 
                <input type="text" class="form-control" name="party_name" id="party_name" placeholder="Party Name" required="">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3">Address</label>
            <div class="col-md-3"> 
                <textarea type="text" class="form-control" name="party_addrss1" id="party_addrss1" placeholder="Address" required=""></textarea>
            </div>
            <label class="col-md-3">Address2</label>
            <div class="col-md-3"> 
                <textarea type="text" class="form-control" name="party_addrss2" id="party_addrss2" placeholder="Address" required=""></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3">City</label>
            <div class="col-md-3"> 
               <select class="form-control part_city" name="part_city" id="part_city">
                 <option value="">Select City</option>
                {{#each city}}
                <option value="{{this._id}}" data-city="{{this._id}}">{{this.city_name}}</option>
                {{/each}}
              </select>
            </div>
            <label class="col-md-3">Mobile No</label>
            <div class="col-md-3"> 
                <input type="text" class="form-control" name="party_mobno" id="party_mobno" placeholder="Mobile No">
            </div>
          </div>
           <div class="form-group">
            <label class="col-md-3">Contact Person</label>
            <div class="col-md-3"> 
               <input type="text" class="form-control" name="party_contprsn" id="party_contprsn" placeholder="Contact Person">
            </div>
            <label class="col-md-3">Party Type</label>
            <div class="col-md-3"> 
                <select class="form-control party_prttyp" name="party_prttyp" id="party_prttyp" required="">
                 <option value="">Select Party</option>
                {{#each party_type}}
                <option value="{{this._id}}" data-city="{{this._id}}">{{this.party_type_name}}</option>
                {{/each}}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3">Send Shade Card</label>
            <div class="col-md-1"> 
               <input type="checkbox"  name="partysndcrd" value="Y">
            </div>
           <label class="col-md-3">Lock Job Cards</label>
            <div class="col-md-1"> 
               <input type="checkbox"  name="partylckcrd" value="Y">
            </div>
            <label class="col-md-3">Proof Approval</label>
            <div class="col-md-1"> 
               <input type="checkbox"  name="partyapproval" value="Y">
            </div>
          </div>
          <h2 style="background-color: rgb(18, 136, 7);color: #fff;font-size: 20px;">Tolerance Setup</h2>
          <div class="form-group">
            <div class="col-md-3"> 
               <b>Job Style</b>
                {{!-- <input type="hidden" name="cntr{{sum @index 1}}" value="{{sum @index 1}}" id="cntr{{sum @index 1}}" class="form-control" style="width: 102px;"> --}}
               <select class="form-control " name="tolrance_group[1][jobstyl]" id="jobstyl" required="">
                {{#each product}}
                <option value="{{this._id}}" data-state="{{this._id}}">{{this.prdt_typ_name}}</option>
                {{/each}}
              </select>
            </div>
            <div class="col-md-2"> 
              <b>From</b> 
               <input type="text" class="form-control" name="tolrance_group[1][limitfrom]" id="limitform" placeholder="From" style="width: 72px;">
            </div>
            <div class="col-md-3"> 
               <b>To </b> 
               <input type="text" class="form-control" name="tolrance_group[1][limitto]" id="limitto" placeholder="To">
            </div>
            <div class="col-md-3"> 
              <b>Slab[Nos]</b>
              <input type="text" class="form-control" name="tolrance_group[1][slab]" id="slab" placeholder="Slab[Nos]">
            </div>
          </div>
           <div id="tolrance_div">
              <a id="add" class="addTolerance" style="cursor: pointer;"><i class="fa fa-plus" style="font-size: 30px;color: #36c536;margin-left: 262px;"></i></a>                  
            </div>
            <div class="form-group">
            <div class="col-md-3"> 
               <b>Job Style</b>
               <input type="hidden" name="cntrtol{{sum @index 1}}" value="{{sum @index 1}}" id="cntrtol{{sum @index 1}}" class="form-control" style="width: 102px;">
               <select class="form-control " name="tole_group[1][jobstyltwo]" id="jobstyltwo" required="">
                {{#each product}}
                <option value="{{this._id}}" data-state="{{this._id}}">{{this.prdt_typ_name}}</option>
                {{/each}}
              </select>
            </div>
            <div class="col-md-2"> 
              <b>From</b> 
               <input type="text" class="form-control" name="tole_group[1][limitfromtwo]" id="limitfromtwo" placeholder="From" style="width: 72px;">
            </div>
            <div class="col-md-3"> 
               <b>To </b> 
               <input type="text" class="form-control" name="tole_group[1][limittotwo]" id="limittotwo" placeholder="To">
            </div>
            <div class="col-md-3"> 
              <b>Slab%</b>
              <input type="text" class="form-control" name="tole_group[1][slabtwo]" id="slabtwo" placeholder="Slab%">
            </div>
          </div>
           <div id="tol_div">
              <a id="add" class="addTo" style="cursor: pointer;"><i class="fa fa-plus" style="font-size: 30px;color: #36c536;margin-left: 262px;"></i></a>                  
            </div>
            <hr>
             <div class="form-group">
               <label class="col-md-3">Fix Sheet</label>
            <div class="col-md-3"> 
               <input type="text" class="form-control" name="party_fixsheet" id="party_fixsheet" placeholder="Fix Sheet">
            </div>
            <label class="col-md-3">Scan Documents</label>
            <div class="col-md-3"> 
               <input type="file" class="form-control" name="party_scandoc">
            </div>
          </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
           <input type="submit" class="btn btn-info" value="submit" id="submit">
           <input type="reset" class="btn btn-default pull-right" value="Clear Form">  
        </div>
        </form>
         <form action="" class="form-horizontal" enctype="multipart/form-data" method="post" style="display:none" id="edit_party">
          <h4 style="color: red;text-align: center;"></h4>
        <div class="box-body">
          <div class="form-group">
            <label class="col-md-3">Party Code</label>
            <div class="col-md-3"> 
                <input type="text" class="form-control party_code" name="party_code" id="party_code" placeholder="Party Code" required="">
            </div>
             <label class="col-md-3">Party Name</label>
            <div class="col-md-3"> 
                <input type="text" class="form-control party_name" name="party_name" id="party_name" placeholder="Party Name" required="">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3">Address</label>
            <div class="col-md-3"> 
                <textarea type="text" class="form-control party_addrss1" name="party_addrss1" id="party_addrss1" placeholder="Address"></textarea>
            </div>
            <label class="col-md-3">Address2</label>
            <div class="col-md-3"> 
                <textarea type="text" class="form-control party_addrss2" name="party_addrss2" id="party_addrss2" placeholder="Address"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3">City</label>
            <div class="col-md-3"> 
               <select class="form-control part_city" name="part_city" id="part_city" required="">
                 <option value="">Select City</option>
                {{#each city}}
                <option value="{{this._id}}" data-city="{{this._id}}">{{this.city_name}}</option>
                {{/each}}
              </select>
            </div>
            <label class="col-md-3">Mobile No</label>
            <div class="col-md-3"> 
                <input type="text" class="form-control party_mobno" name="party_mobno" id="party_mobno" placeholder="Mobile No" required="">
            </div>
          </div>
           <div class="form-group">
            <label class="col-md-3">Contact Person</label>
            <div class="col-md-3"> 
               <input type="text" class="form-control party_contprsn" name="party_contprsn" id="party_contprsn" placeholder="Contact Person" required="">
            </div>
            <label class="col-md-3">Party Type</label>
            <div class="col-md-3"> 
                {{!-- <input type="text" class="form-control " name="party_prttyp" id="party_prttyp" placeholder="Part Type" required=""> --}}
             <select class="form-control party_prttyp" name="party_prttyp" id="party_prttyp" required="">
                 <option value="">Select Party</option>
                {{#each party_type}}
                <option value="{{this._id}}" data-city="{{this._id}}">{{this.party_type_name}}</option>
                {{/each}}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3">Send Shade Card</label>
            <div class="col-md-1"> 
               <input type="checkbox" class="partysndcrd"  name="partysndcrd" value="Y">
            </div>
           <label class="col-md-3">Lock Job Cards</label>
            <div class="col-md-1"> 
               <input type="checkbox" class="partylckcrd"  name="partylckcrd" value="Y">
            </div>
            <label class="col-md-3">Proof Approval</label>
            <div class="col-md-1"> 
               <input type="checkbox" class="partyapproval"  name="partyapproval" value="Y">
            </div>
          </div>
          <h2 style="background-color: rgb(18, 136, 7);color: #fff;font-size: 20px;">Tolerance Setup</h2>
          <div class="form-group tolerance_div">
          </div>
           <div id="tolrance_divupdate">
              <a id="add" class="addToleranceupdate" style="cursor: pointer;"><i class="fa fa-plus" style="font-size: 30px;color: #36c536;margin-left: 262px;"></i></a>                  
            </div>
            <div class="form-group tol_div">
          </div>
           <div id="tol_divupdate">
              <a id="add" class="addToupdate" style="cursor: pointer;"><i class="fa fa-plus" style="font-size: 30px;color: #36c536;margin-left: 262px;"></i></a>                  
            </div>
            <hr>
             <div class="form-group">
               <label class="col-md-2">Fix Sheet</label>
            <div class="col-md-2"> 
               <input type="text" class="form-control party_fixsheet" name="party_fixsheet" id="party_fixsheet" placeholder="Fix Sheet">
            </div>
            <label class="col-md-3">Scan Documents</label>
            <div class="col-md-3"> 
               <input type="file" class="form-control" name="party_scandoc">
               <input type="hidden" name="previousfilename" value="" class="edit_filename"/>
            </div>
             <div class="col-md-2">
            <img src="" class="edit_party_img"  height="50px" width="50px">
            </div>
          </div>
           {{!-- <div class="form-group">
            <label class="col-md-4">Image</label>
            <div class="col-md-5"> 
              <input type="file" class="form-control" name="machine_pdf">
               <input type="hidden" name="previousfilename" value="" class="edit_filename"/>
            </div>
             <div class="col-md-3">
            <img src="" class="edit_machine_img"  height="50px" width="50px">
            </div>
        </div> --}}
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <input type="submit" class="btn btn-success"  value="update" id="update">
            <input type="reset" class="btn btn-default  pull-right" value="Clear Form">
        </div>
        </form>
  </div>
      </section>
    </div>
    <div class="col-md-5">
      <section class="content-header">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">View Party Master</h3>
                  <p style="text-align: center;color:#ff0000;margin-top: -20px;"><?php echo @$_SESSION['carat_name']; @$_SESSION['carat_name'] = ''; ?></p>
          </div>
            <div class="box-body">
              <div class="table-responsive">
                <table id="example" class="table table-bordered table-striped">
                  <thead>
                      <tr>
                        <th>#</th>
                        <th>Party Code</th>
                        <th>Party Name</th>
                        <th>Address</th>
                        <th>Address2</th>
                        <th>City</th>
                        <th>Mobile No</th>
                        <th>Contact Person</th>
                        <th>Party Type</th>
                        <th>Fix Sheet</th>
                        <th>Scan Documents</th>
                        <th width="10%">Update</th>
                        <th width="10%">Delete</th>
                      </tr>
                  </thead>
                 <tbody>
                   {{#each party as |value key|}}
                      <tr>
                          <td>{{sum @index 1}}</td>
                          <td>{{this.party_code}}</td>
                          <td>{{this.party_name}}</td>
                          <td>{{this.party_addrss1}}</td>
                          <td>{{this.party_addrss2}}</td>
                          <td>{{this.part_city.city_name}}</td>
                          <td>{{this.party_mobno}}</td>
                          <td>{{this.party_contprsn}}</td>
                          <td>{{this.party_prttyp.party_type_name}}</td>
                          <td>{{this.party_fixsheet}}</td>
                          <td><a href="{{this.filepath}}" target='_blank' alt="pdf Not Found"><img src="{{this.filepath}}" target="_blank" height="50" width="50"/></a></td>
                          <td><a href="javascript:void(0);"  class="edit_party" data-id="{{this._id}}"><i class="fa fa-pencil"></i></i></a></td>
                           <td><a href="/party_mast/delete_party/{{value._id}}" onclick="return confirm('Are you sure want to delete.');"><i class="fa fa-trash-o" style="color:red;"></i></a></td>
                      </tr>
                     {{/each}}  
                   </tbody>
                </table>
      </div>
    </div>
  </div>
      </section>
    </div>
    
  </div>
</div>
 {{> footer}}
<style>
 .button-clear {

          background-color: Transparent;
            background-repeat:no-repeat;
            border: none;
            cursor:pointer;
            overflow: hidden;

        }
       </style>
       