{{> header}}
{{> nav}}

<!-- <script>
$(function () {
  $("#example").DataTable();
});
</script> -->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="row">
    <div class="col-md-5">
      <section class="content-header">
         
         
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title" id="add">Q.C Equipments Master</h3>
      <h3 class="box-title" id="edit" style="display: none">Update Q.C Equipments Master</h3>
          {{#if err}}
          <div class="alert alert-danger">
          <strong>{{err}}</strong>
          </div>
          {{/if}}
          {{#if errors}}
          <div class="alert alert-danger">
          <strong>{{errors}}</strong>
          </div>
          {{/if}}
      <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
          </div>
    </div>
       <form action="/qcequimnts_mast/add" class="form-horizontal"  method="post" id="qcequimnts_add">
          <h4 style="color: red;text-align: center;"></h4>
        <div class="box-body">
          <div class="form-group">
            <label class="col-md-4">Eq. Name</label>
            <div class="col-md-8"> 
                <input type="text" class="form-control" name="qcequimnts_eqname" id="qcequimnts_eqname" placeholder="Eq. Name">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">Calibration</label>
            <div class="col-md-8"> 
                 <select class="form-control" name="qcequimnts_calbrton" id="qcequimnts_calbrton">
                 <option value="">----Select Calibration----</option>
                 <option value="Y">Y</option>
                 <option value="N">N</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">Calibration</label>
            <div class="col-md-8"> 
                 <select class="form-control" name="qcequimnts_calbrtontwo" id="qcequimnts_calbrtontwo">
                 <option value="">----Select Calibration----</option>
                 <option value="Internal">Internal</option>
                 <option value="Extrnal">Extrnal</option>
              </select>
            </div>
          </div>
           <div class="form-group">
            <label class="col-md-4">Calibration Sched.</label>
            <div class="col-md-4"> 
                <input type="text" class="form-control" name="qcequimnts_days" id="qcequimnts_calbrton" placeholder="Days">
            </div>
            <div class="col-md-4"> 
                <input type="text" class="form-control" name="qcequimnts_year" id="qcequimnts_year" placeholder="Year">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">Department</label>
            <div class="col-md-8"> 
               <select class="form-control qcequimnts_deprt" name="qcequimnts_deprt" id="qcequimnts_deprt">
                 <option value="">----Select Department----</option>
                {{#each depart}}
                <option value="{{this._id}}" data-departmnt="{{this._id}}">{{this.departmnt_name}}</option>
                {{/each}}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">Weight Box Calibration</label>
            <div class="col-md-8"> 
                <input type="checkbox" name="qcequimnts_wghtbxcabrton" id="qcequimnts_wghtbxcabrton" value="Y" required>
            </div>
          </div>
           <div class="form-group">
            <label class="col-md-4">Check List</label>
            <div class="col-md-8"> 
               <select class="form-control qcequimnts_chklst" name="qcequimnts_chklst" id="qcequimnts_chklst">
                 <option value="">----Select Check List----</option>
                {{#each machinechecklist}}
                <option value="{{this._id}}" data-departmnt="{{this._id}}">{{this.machinechk_dscrpton}}</option>
                {{/each}}
              </select>
            </div>
          </div>
           <div class="form-group">
            <label class="col-md-4">Instructions</label>
            <div class="col-md-8"> 
                <input type="text" class="form-control" name="qcequimnts_instrcton" id="qcequimnts_instrcton" placeholder="Instructions">
            </div>
          </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
           <input type="reset" class="btn btn-default" value="Clear Form">
              <input type="submit" class="btn btn-info pull-right" value="submit" id="submit">
              <input type="submit" class="btn btn-success pull-right"  value="update" id="update" style="display:none;">
        </div>
        </form>
         <form action="" class="form-horizontal"  method="post" id="edit_qcequimnts" style="display:none">
          <h4 style="color: red;text-align: center;"></h4>
         <div class="box-body">
          <div class="form-group">
            <label class="col-md-4">Eq. Name</label>
            <div class="col-md-8"> 
                <input type="text" class="form-control qcequimnts_eqname" name="qcequimnts_eqname" id="qcequimnts_eqname" placeholder="Eq. Name">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">Calibration</label>
            <div class="col-md-8"> 
                 <select class="form-control qcequimnts_calbrton" name="qcequimnts_calbrton" id="qcequimnts_calbrton">
                 <option value="">----Select Calibration----</option>
                 <option value="Y">Y</option>
                 <option value="N">N</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">Calibration</label>
            <div class="col-md-8"> 
                 <select class="form-control qcequimnts_calbrtontwo" name="qcequimnts_calbrtontwo" id="qcequimnts_calbrtontwo">
                 <option value="">----Select Calibration----</option>
                 <option value="Internal">Internal</option>
                 <option value="Extrnal">Extrnal</option>
              </select>
            </div>
          </div>
           <div class="form-group">
            <label class="col-md-4">Calibration Sched.</label>
            <div class="col-md-4"> 
                <input type="text" class="form-control qcequimnts_days" name="qcequimnts_days" id="qcequimnts_calbrton" placeholder="Days">
            </div>
            <div class="col-md-4"> 
                <input type="text" class="form-control qcequimnts_year" name="qcequimnts_year" id="qcequimnts_year" placeholder="Year">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">Department</label>
            <div class="col-md-8"> 
               <select class="form-control qcequimnts_deprt" name="qcequimnts_deprt" id="qcequimnts_deprt">
                 <option value="">----Select Department----</option>
                {{#each depart}}
                <option value="{{this._id}}" data-departmnt="{{this._id}}">{{this.departmnt_name}}</option>
                {{/each}}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">Weight Box Calibration</label>
            <div class="col-md-8"> 
                <input type="checkbox" class="qcequimnts_wghtbxcabrton" name="qcequimnts_wghtbxcabrton" value="Y" required>
            </div>
          </div>
           <div class="form-group">
            <label class="col-md-4">Check List</label>
            <div class="col-md-8"> 
               <select class="form-control qcequimnts_chklst" name="qcequimnts_chklst" id="qcequimnts_chklst">
                 <option value="">----Select Check List----</option>
                {{#each machinechecklist}}
                <option value="{{this._id}}" data-departmnt="{{this._id}}">{{this.machinechk_dscrpton}}</option>
                {{/each}}
              </select>
            </div>
          </div>
           <div class="form-group">
            <label class="col-md-4">Instructions</label>
            <div class="col-md-8"> 
                <input type="text" class="form-control qcequimnts_instrcton" name="qcequimnts_instrcton" id="qcequimnts_instrcton" placeholder="Instructions">
            </div>
          </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
           <input type="reset" class="btn btn-default" value="Clear Form">
              <input type="submit" class="btn btn-success pull-right"  value="update" id="update">
        </div>
        </form>
  </div>
      </section>
    </div>
    <div class="col-md-7">
      <section class="content-header">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">View Q.C Equipments Master </h3>
                  <p style="text-align: center;color:#ff0000;margin-top: -20px;"></p>
          </div>
            <div class="box-body">
              <div class="table-responsive">
                <table id="example" class="table table-bordered table-striped">
                  <thead>
                      <tr>
                        <th>#</th>
                        <th>Eq. Name</th>
                        <th>Calibration</th>
                        <th>Calibration</th>
                        <th>Calibration Sched.</th>
                        <th>Department</th>
                        <th>Weight Box Calibration</th>
                        <th>Check List</th>
                        <th>Instructions</th>
                        <th width="10%">Update</th>
                        <th width="10%">Delete</th>
                      </tr>
                  </thead>
                 <tbody>
                   {{#each qcequimnts as |value key|}}
                      <tr>
                          <td>{{sum @index 1}}</td>
                          <td>{{this.qcequimnts_eqname}}</td>
                          <td>{{this.qcequimnts_calbrton}}</td>
                          <td>{{this.qcequimnts_calbrtontwo}}</td>
                          <td>{{this.qcequimnts_days}}</td>
                          <td>{{this.qcequimnts_deprt.departmnt_name}}</td>
                          <td>{{this.qcequimnts_wghtbxcabrton}}</td>
                          <td>{{this.qcequimnts_chklst.machinechk_dscrpton}}</td>
                          <td>{{this.qcequimnts_instrcton}}</td>
                          <td><a href="javascript:void(0);"  class="edit_qcequimnts" data-id="{{this._id}}"><i class="fa fa-pencil"></i></i></a></td>
                          <td><a href="/qcequimnts_mast/delete_qcequimnts/{{value._id}}" onclick="return confirm('Are you sure want to delete.');"><i class="fa fa-trash-o" style="color:red;"></i></a></td>
                      </tr>
                     {{/each}}  
                   </tbody>
                </table>
      </div>
    </div>
  </div>
      </section>
    </div>
    
  </div>
</div>
 {{> footer}}
<style>
 .button-clear {

          background-color: Transparent;
            background-repeat:no-repeat;
            border: none;
            cursor:pointer;
            overflow: hidden;

        }
       </style>
       