{{> header}}
{{> nav}}

<!-- <script>
$(function () {
  $("#example").DataTable();
});
</script> -->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="row">
    <div class="col-md-5">
      <section class="content-header">
         
         
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title" id="add">Rack Location Master</h3>
      <h3 class="box-title" id="edit" style="display: none">Update Rack Location Master</h3>
          {{#if err}}
          <div class="alert alert-danger">
          <strong>{{err}}</strong>
          </div>
          {{/if}}
          {{#if errors}}
          <div class="alert alert-danger">
          <strong>{{errors}}</strong>
          </div>
          {{/if}}
      <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
          </div>
    </div>
       <form action="/rackloc_mast/add" class="form-horizontal"  method="post" id="rackloc_add">
          <h4 style="color: red;text-align: center;"></h4>
        <div class="box-body">
          <div class="form-group">
            <label class="col-md-4">Location Name</label>
            <div class="col-md-8"> 
                <input type="text" class="form-control" name="rackloc_name" id="rackloc_name" placeholder="Location Name" required="">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">Rack No</label>
            <div class="col-md-8"> 
                <input type="text" class="form-control" name="rackloc_rckno" id="rackloc_rckno" placeholder="Rack No" required="">
            </div>
          </div>
           <div class="form-group">
            <label class="col-md-4">Row No</label>
            <div class="col-md-8"> 
                <input type="text" class="form-control" name="rackloc_rowno" id="rackloc_rowno" placeholder="Row No">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">Qty Capacity</label>
            <div class="col-md-8"> 
                <input type="text" class="form-control" name="rackloc_qtycpcaty" id="rackloc_qtycpcaty" placeholder="Qty Capacity">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">Remarks</label>
            <div class="col-md-8"> 
                <input type="text" class="form-control" name="rackloc_remark" id="rackloc_remark" placeholder="Remarks">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2">Superseed</label>
            <div class="col-md-2"> 
                <input type="checkbox" name="rackloc_supress" value="Y" id="rackloc_supress">
            </div>
            <label class="col-md-2">Stock</label>
            <div class="col-md-2"> 
                <input type="checkbox" name="rackloc_stock" value="Y" id="rackloc_stock">
            </div>
              <label class="col-md-2">Destroy</label>
            <div class="col-md-2"> 
                <input type="checkbox" name="rackloc_distroy" value="Y"  id="rackloc_distroy">
            </div>
          </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
           <input type="reset" class="btn btn-default" value="Clear Form">
              <input type="submit" class="btn btn-info pull-right" value="submit" id="submit">
              <input type="submit" class="btn btn-success pull-right"  value="update" id="update" style="display:none;">
        </div>
        </form>
         <form action="" class="form-horizontal"  method="post" id="edit_rackloc" style="display:none">
          <h4 style="color: red;text-align: center;"></h4>
       <div class="box-body">
          <div class="form-group">
            <label class="col-md-4">Location Name</label>
            <div class="col-md-8"> 
                <input type="text" class="form-control rackloc_name" name="rackloc_name" id="rackloc_name" placeholder="Location Name" required="">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">Rack No</label>
            <div class="col-md-8"> 
                <input type="text" class="form-control rackloc_rckno" name="rackloc_rckno" id="rackloc_rckno" placeholder="Rack No" required="">
            </div>
          </div>
           <div class="form-group">
            <label class="col-md-4">Row No</label>
            <div class="col-md-8"> 
                <input type="text" class="form-control rackloc_rowno" name="rackloc_rowno" id="rackloc_rowno" placeholder="Row No">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">Qty Capacity</label>
            <div class="col-md-8"> 
                <input type="text" class="form-control rackloc_qtycpcaty" name="rackloc_qtycpcaty" id="rackloc_qtycpcaty" placeholder="Qty Capacity">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">Remarks</label>
            <div class="col-md-8"> 
                <input type="text" class="form-control rackloc_remark" name="rackloc_remark" id="rackloc_remark" placeholder="Remarks">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2">Superseed</label>
            <div class="col-md-2"> 
                <input type="checkbox" class="rackloc_supress" name="rackloc_supress" value="Y">
            </div>
            <label class="col-md-2">Stock</label>
            <div class="col-md-2"> 
                <input type="checkbox" class="rackloc_stock" name="rackloc_stock" value="Y">
            </div>
              <label class="col-md-2">Destroy</label>
            <div class="col-md-2"> 
                <input type="checkbox" class="rackloc_distroy" name="rackloc_distroy" value="Y">
            </div>
          </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
           <input type="reset" class="btn btn-default" value="Clear Form">
              <input type="submit" class="btn btn-success pull-right"  value="update" id="update">
        </div>
        </form>
  </div>
      </section>
    </div>
    <div class="col-md-7">
      <section class="content-header">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">View Rack Location Master </h3>
                  <p style="text-align: center;color:#ff0000;margin-top: -20px;"></p>
          </div>
            <div class="box-body">
              <div class="table-responsive">
                <table id="example" class="table table-bordered table-striped">
                  <thead>
                      <tr>
                        <th>#</th>
                        <th>Location Name</th>
                        <th>Rack No</th>
                        <th>Row No</th>
                        <th>Qty Capacity</th>
                        <th>Remarks</th>
                        <th width="10%">Update</th>
                        <th width="10%">Delete</th>
                      </tr>
                  </thead>
                 <tbody>    
                      {{#each rackloc as |value key|}}
                      <tr>
                        <td>{{sum @index 1}}</td>
                        <td>{{this.rackloc_name}}</td>
                        <td>{{this.rackloc_rckno}}</td>
                        <td>{{this.rackloc_rowno}}</td>
                        <td>{{this.rackloc_qtycpcaty}}</td>
                        <td>{{this.rackloc_remark}}</td>
                        <td><a href="javascript:void(0);"  class="edit_rackloc" data-id="{{this._id}}"><i class="fa fa-pencil"></i></i></a></td>
                        <td><a href="/rackloc_mast/delete_rackloc/{{value._id}}" onclick="return confirm('Are you sure want to delete.');"><i class="fa fa-trash-o" style="color:red;"></i></a></td>
                      </tr>
                     {{/each}}  
                   </tbody>
                </table>
      </div>
    </div>
  </div>
      </section>
    </div>
    
  </div>
</div>
 {{> footer}}
<style>
 .button-clear {

          background-color: Transparent;
            background-repeat:no-repeat;
            border: none;
            cursor:pointer;
            overflow: hidden;

        }
       </style>
       