{{> header}}
{{> nav}}

<!-- <script>
$(function () {
  $("#example").DataTable();
});
</script> -->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="row">
    <div class="col-md-5">
      <section class="content-header">
         
         
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title" id="add">Security Right</h3>
      <h3 class="box-title" id="edit" style="display: none">Update Security Right</h3>
          {{#if err}}
          <div class="alert alert-danger">
          <strong>{{err}}</strong>
          </div>
          {{/if}}
          {{#if errors}}
          <div class="alert alert-danger">
          <strong>{{errors}}</strong>
          </div>
          {{/if}}
      <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
          </div>
    </div>
       <form action="/security_right/add" class="form-horizontal"  method="post" id="security_add">
        <div class="box-body">
            <div class="form-group">
            <label class="col-md-4">Right Name</label>
            <div class="col-md-8"> 
              <input class="form-control right_name" placeholder="Right Name" name="right_name" type="text">
            </div>
          </div>
           <div class="form-group">
            <label class="col-md-4">Right Description</label>
            <div class="col-md-8 state_name_div"> 
               <input class="form-control right_desc" placeholder="Right Description" name="right_desc" type="text">
            </div>
          </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
           <input type="reset" class="btn btn-default" value="Clear Form">
              <input type="submit" class="btn btn-info pull-right" value="submit" id="submit">
              <input type="submit" class="btn btn-success pull-right"  value="update" id="update" style="display:none;">
        </div>
        </form>
         <form method="POST" action=""  class="edit_security" id="edit_security" style="display:none;">
        <div class="box-body">
            <div class="form-group">
            <label class="col-md-4">Right Name</label>
            <div class="col-md-8"> 
              <input class="form-control right_name" placeholder="Right Name" name="right_name" type="text">
            </div>
          </div>
           <div class="form-group">
            <label class="col-md-4">Right Description</label>
            <div class="col-md-8 state_name_div"> 
               <input class="form-control right_desc" placeholder="Right Description" name="right_desc" type="text">
            </div>
          </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
           <input type="reset" class="btn btn-default" value="Clear Form">
              <input type="submit" class="btn btn-info pull-right" value="submit" id="submit" style="display:none;">
              <input type="submit" class="btn btn-success pull-right"  value="update" id="update">
        </div>
        </form>
  </div>
      </section>
    </div>
    <div class="col-md-7">
      <section class="content-header">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">View Security Right </h3>
                  <p style="text-align: center;color:#ff0000;margin-top: -20px;"></p>
          </div>
            <div class="box-body">
              <div class="table-responsive">
                <table id="example" class="table table-bordered table-striped">
                  <thead>
                      <tr>
                        <th>#</th>
                        <th>Right Name</th>
                        <th>Right Description</th>
                        <th width="10%">Update</th>
                        <th width="10%">Delete</th>
                      </tr>
                  </thead>
                 <tbody>
                  {{#each security as |value key|}}
                    <tr>
                        <td>{{sum @index 1}}</td>
                        <td>{{this.right_name}}</td>
                        <td>{{this.right_desc}}</td>
                        <td><a href="javascript:void(0);"  class="edit_security_btn" data-id="{{this._id}}"><i class="fa fa-pencil"></i></i></a></td>
                        <td><a href="javascript:void(0);" class="delete-security" data-id="{{this._id}}"><i class="fa fa-trash-o" style="color:red;"></a></td>
                    </tr>
                {{/each}}  
                   </tbody>
                </table>
      </div>
    </div>
  </div>
      </section>
    </div>
    
  </div>
</div>
 {{> footer}}
<style>
 .button-clear {

          background-color: Transparent;
            background-repeat:no-repeat;
            border: none;
            cursor:pointer;
            overflow: hidden;

        }
       </style>
       