{{> header}}
{{> nav}}
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="row" style="margin-top:-8px;">
    <h2 class="box-title" style="background-color: #3c8dbc;color: #fff; margin-left: 20px;"> User Rights </h2>
    <div class="col-md-12">
      <section class="content-header">
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title"> Add Admin </h3>
            <p style="text-align: center;color:#ff0000;margin-top: -20px;" id="msg"></p>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form role="form" action="/userright/add" name="permission" class="form-horizontal"  method="post">
    
    <div class="box-body">
      <div class="form-group">
        <label class="col-md-2">First Name</label>
        <div class="col-md-2">
      <input type="text" class="form-control" required="" name="first_name" id="usrnm" placeholder="First Name" >
        </div>
        <label class="col-md-2">Last Name</label>
        <div class="col-md-2">
      <input type="text" class="form-control" name="last_name" id="usrpwd" placeholder="Last Name" >
        </div>
        <label class="col-md-2">User Name</label>
        <div class="col-md-2">
      <input type="text" class="form-control" name="usrnm" id="usrnm"  required="" placeholder="User Name" >
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2">Password </label>
        <div class="col-md-2">
       <input type="password" class="form-control" required="" id="usrpwd" name="usrpwd" placeholder="Password" >
        </div>
        <label class="col-md-2">Email </label>
        <div class="col-md-2">
         <input type="email" class="form-control" name="emailid" placeholder="emailid" >
        </div>
        <label class="col-md-2">Phone Number </label>
        <div class="col-md-2">
       <input type="text" class="form-control" name="phone_num" id="phone_num" placeholder="Phone Number" >
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2">More Details </label>
        <div class="col-md-10">
      <textarea style="height: 35px;" class="form-control" name="details" id="details" placeholder="More Details" ></textarea>
        </div>
      </div>
       <div class="form-group">
	   <label class="col-md-2">Company Name</label>
      <div class="col-md-3">
	  {{#each div_com}}
      <input type="checkbox" name="co_code[]" value="{{this._id}}">{{this.com_name}}
      {{/each}}
	  </div>
      </div>
	
	 <div class="form-group">
	  <label class="col-md-2">Division Name</label>
      <div class="col-md-3">
	  {{#each div_mast}}
       <input type="checkbox" name="div_code[]" value="{{this._id}}">{{this.div_mast}}
      {{/each}}
      	
	  </div>
	   </div>
	   
	    <div class="form-group">
	   <label class="col-md-2">Administrator</label>
        <div class="col-md-2">
		<select class="form-control" name="administrator" id="administrator"> 
		<option>Select</option>
		<option>Yes</option>
		<option>No</option>
		</select>
	 </div>
      </div>
      <div class="col-md-12">
           <table class="table table-bordered table-striped">
			    <thead style="background-color:#3c8dbc;color: #fff;font-size: 15px;">
            <tr>
              <th>S No.</th>
              <th>Master</th>
              <th>Add</th>
              <th>View</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
				</thead>
        </div>
		<tbody>
            {{#each security as |value key|}}
                <tr>
                    <td>{{sum @index 1}}</td>
                    <td>{{this.right_name}}</td>
                    <td><input type="checkbox"   name="admin[]" value="{{this.right_name}}-A"></td>
                    <td><input type="checkbox"  name="admin[]" value="{{this.right_name}}-V"></td>
                    <td><input type="checkbox"   name="admin[]"  value="{{this.right_name}}-E"></td>
                    <td><input type="checkbox" 	 name="admin[]"  value="{{this.right_name}}-D"></td>
                </tr>
                 {{/each}}  	
		</tbody>
		</table>
      </div>
    </div><!-- /.box-body -->
    <div class="box-footer">
      <button type="submit" class="btn btn-primary"> Submit </button>
      <button type="reset" class="btn btn-primary"> Reset </button>
    </div>
    </form>
  </div>
      </section>
    </div>
  </div>
</div>

        {{> footer}}