{{> header}}
{{> nav}}

<!-- <script>
$(function () {
  $("#example").DataTable();
});
</script> -->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="row">
    <div class="col-md-5">
      <section class="content-header">
         
         
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title" id="add">Varnish Master</h3>
      <h3 class="box-title" id="edit" style="display: none">Update Varnish Master</h3>
          {{#if err}}
          <div class="alert alert-danger">
          <strong>{{err}}</strong>
          </div>
          {{/if}}
          {{#if errors}}
          <div class="alert alert-danger">
          <strong>{{errors}}</strong>
          </div>
          {{/if}}
      <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
          </div>
    </div>
       <form action="/varnish_mast/add" class="form-horizontal"  method="post" id="varnish_add">
          <h4 style="color: red;text-align: center;"></h4>
        <div class="box-body">
           <div class="form-group">
            <label class="col-md-4">Varnish Name</label>
            <div class="col-md-8"> 
                <input type="text" class="form-control vernish_name" name="vernish_name" id="vernish_name" placeholder="Varnish Name" required="">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">Code</label>
            <div class="col-md-8"> 
                <input type="text" class="form-control" name="vernis_code" id="vernis_code" placeholder="Code" required="">
            </div>
          </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
           <input type="reset" class="btn btn-default" value="Clear Form">
              <input type="submit" class="btn btn-info pull-right" value="submit" id="submit">
              <input type="submit" class="btn btn-success pull-right"  value="update" id="update" style="display:none;">
        </div>
        </form>
         <form action="" class="form-horizontal"  method="post" id="edit_vernish" style="display:none">
          <h4 style="color: red;text-align: center;"></h4>
        <div class="box-body">
            <div class="form-group">
            <label class="col-md-4">Varnish Name</label>
            <div class="col-md-8"> 
                <input type="text" class="form-control vernish_name" name="vernish_name" id="vernish_name" placeholder="Varnish Name" required="">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">Code</label>
            <div class="col-md-8"> 
                <input type="text" class="form-control vernis_code" name="vernis_code" id="vernis_code" placeholder="Code" required="">
            </div>
          </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
           <input type="reset" class="btn btn-default" value="Clear Form">
              <input type="submit" class="btn btn-success pull-right"  value="update" id="update">
        </div>
        </form>
  </div>
      </section>
    </div>
    <div class="col-md-7">
      <section class="content-header">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">View Varnish Master </h3>
                  <p style="text-align: center;color:#ff0000;margin-top: -20px;"></p>
          </div>
            <div class="box-body">
              <div class="table-responsive">
                <table id="example" class="table table-bordered table-striped">
                  <thead>
                      <tr>
                        <th>#</th>
                        <th>Varnish Name</th>
                        <th>Code</th>
                        <th width="10%">Update</th>
                        <th width="10%">Delete</th>
                      </tr>
                  </thead>
                 <tbody>
                   {{#each vernish as |value key|}}
                      <tr>
                          <td>{{sum @index 1}}</td>
                          <td>{{this.vernish_name}}</td>
                          <td>{{this.vernis_code}}</td>
                          <td><a href="javascript:void(0);"  class="edit_vernish" data-id="{{this._id}}"><i class="fa fa-pencil"></i></i></a></td>
                          <td><a href="/varnish_mast/delete_vernish/{{value._id}}" onclick="return confirm('Are you sure want to delete.');"><i class="fa fa-trash-o" style="color:red;"></i></a></td>
                      </tr>
                     {{/each}}  
                   </tbody>
                </table>
      </div>
    </div>
  </div>
      </section>
    </div>
    
  </div>
</div>
 {{> footer}}
<style>
 .button-clear {

          background-color: Transparent;
            background-repeat:no-repeat;
            border: none;
            cursor:pointer;
            overflow: hidden;

        }
       </style>
       